<table>
  <tr>
    <td style="position: relative; width:{{width}}px; height:{{width}}px;"
      title="{{percentAgree}}% agreed
{{percentDisagree}}% disagreed
{{percentPassed}}% passed">
      <canvas class="tc-canvas" width="{{width}}px" height="{{width}}px" style="position: absolute; top: 0px; left: 0px">
      </canvas>
      <span style="position: absolute; top: 17px; left: 16px; color: {{color}}; font-weight: bold">{{percent}}%</span>
    </td>
    <td>
      {{txt}}
    </td>
  </tr>
</table>




