
{{! 


  DUPLICATION WARNING!!!

  See the carousel template markup, which lives in analyze-global.js

}}

<div class="query_result_item {{#if selected}}selected{{/if}}" draggable="true">
  <p>
  {{#if groupMode}}
    <span class="a">&#9650; {{gPercent}}%</span> <span class="small" style="color:gray;">({{gA_total}}/{{gTotal}}) of this group agreed</span>
  {{else}}
    <span class="a HeadingE">&#9650; {{A}}</span> <span class="d HeadingE">&#9660; {{D}}</span>
  {{/if}}
  </p>

  <p style="word-wrap:break-word">
  {{!-- explorer view stuff --}}
    {{#if showCheckbox}}
      <input
        type="checkbox"
        class="exploreCheckbox"
        {{#if unchecked}}
        {{else}}
          checked
        {{/if}}
        ></input>
    {{/if}}
    {{txt}}
  </p>
</div>

