  <form
    role="form"
    style="padding-bottom: 1px; {{! no stripe of background_content color mobile }}
    ">

    {{!-- ================ SOCIAL PICTURE && TEXT AREA ================ --}}
    <div
      class="
        flexbox
        align-items-flex-end
        ">
        <span class="align-items-flex-start">
          {{view profilePicView}}
        </span>
      <span class="flex-grow-2">
        <textarea
          class="form-control"
          id="comment_form_textarea"
          rows="1"
          style="
            width: 100%;
            font-size: 14px;
            line-height: 23px;
            vertical-align: middle;
          "
          name="txt"
          type="text"
          maxlength="400"
          {{!-- placeholder="Submit your own opinions here. Shorter is better - break up your ideas. You are not responding to anyone else directly - comments are sent out randomly to all participants."  --}}
          placeholder="{{s.writePrompt}}"
          {{#if shouldAutofocusOnTextarea}}autofocus{{/if}}
          ></textarea>
        <p
          id="commentSentAlert"
          class="protip"
          style="display: none;"
          role="alert">
            <strong>
              <i
                class="fa fa-bullhorn">
              </i>
              {{s.commentSent}}
              </strong>
        </p>
      </span>
    </div>

    {{!-- ================ CONNECT FACEBOOK / TWITTER ================ --}}
    <div
      id="socialButtonsCommentForm"
      style="
        display: none;
        margin-top: 10px;
        ">
      <div class="protip"><p><i class="fa fa-microphone"></i>&nbsp; {{s.connectToPostPrompt}}</p></div>
      {{#unless hasFacebook}}
        <button id="facebookButtonCommentForm" class="facebookButton"><i class="fa fa-facebook-square"></i>&nbsp; {{s.connectFacebook}}</button>
      {{/unless}}
      {{#unless hasTwitter}}
        <button id="twitterButtonCommentForm" class="twitterButton"><i class="fa fa-twitter"></i>&nbsp; {{s.connectTwitter}}</button>
      {{/unless}}
    </div>

    {{!-- ================ FLEXBOX ================ --}}
    <div
      id="comment_form_controls"
      style="display: none; margin-top: 12px"
      class="
        flexbox
        align-items-baseline
        justify-content-space-between
        comment_form_control_hideable
      ">

      {{!-- ================ PROTIPS ================ --}}
      <span style="margin-right: 20px" class=""> {{! protips column }}

        <p
          id="not_a_reply_message"
          class="protip flexbox align-items-baseline"
          >
          <i
            class="fa fa-lightbulb-o"
            style="font-size: 24px;
            position: relative;
            top: 2px;
            ">
          </i>
          <span style="margin-left: 12px;">
            <strong>
              {{s.tip}}
            </strong>
            <span style="margin-left: 5px">
              {{s.tipCommentsRandom}}
            </span>
          </span>
        </p>
        <p
          id="one_idea_per_comment_message"
          class="protip flexbox  align-items-baseline"
          style="
            display: none;
            ">
            <i
              class="fa fa-asterisk"
              style="font-size: 16px;
              ">
            </i>&nbsp;
            <span style="margin-left: 12px">
              {{s.tipOneIdea}}
            </span>
        </p>
        <p
          id="commentNotQuestionAlert"
          class="protip flexbox align-items-baseline"
          role="alert"
          style="
            display:none;
            ">
            <i
              class="fa fa-asterisk"
              style="font-size: 16px;
              ">
            </i>&nbsp;
              <span style="margin-left: 12px">
                {{s.tipNoQuestions}}
              </span>
        </p>
{{!--         <div
          id="commentTooLongAlert"
          class="protip"
          style="display:none"
          role="alert">
          <p>
            <strong> Comment is too long. </strong>
          </p>
        </div> --}}
        <div
          id="commentSentDemoAlert"
          class="protip"
          style="display:none"
          role="alert">
          <p>
            <strong> {{s.commentSent}}</strong> {{s.notSentSinceDemo}}
          </p>
        </div>
      </span> {{! end protips column}}

   {{!-- ================ CHARACTER COUNT && BUTTON ================ --}}
      <span
        id="commentCharCount"
        style="color: gray; min-width: 20px;"
        class="comment_form_control_hideable">
      </span>
      <button
        class="
          Btn
          Btn-primary
          "
        id="comment_button"
        type="submit"
        style="
          text-transform: none;
          font-size: 16px;
          font-weight: 500;
          border: none;
          border-radius: 4px;
          background-color: #3498db;
          color: white;
          letter-spacing; 0.07em;
          min-width: 110px;
          height: 40px;
          margin-left: 5px;
          ">
        {{s.submitComment}}
      </button>

   {{!-- ================ END FLEXBOX ================ --}}
    </div>

  </form>