{{#ifNotEmbedded}}
<header>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner no-rounding">
      <div class="container">
        <a class="brand" href="#">Polis</a>
        <ul class="nav pull-right">
          <li>{{#link "settings" expand-tokens=true}}<i class="icon-signout"></i>&nbsp;Signout{{/link}}</li> 
        </ul>
        <ul class="nav">
          <li>{{#link "inbox" class="active" expand-tokens=true}}Conversations{{/link}}</li>
        </ul>
      </div>
    </div>
  </div>
</header>
{{/ifNotEmbedded}}



<div class="conversationViewHeadline"> 
  <h1> {{topic}} </h1>
  <h5> {{description}} </h5>
</div> 

<section class="container-fluid">

    <div class="alert alert-block alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>How do I use Polis?</h4>
      <ol>
        <li> The purpose of this tool is to create groups and allow you to explore the views of those groups. </li>
        <li> Hover over anything to find out what it does </li> 
        <li> Watch the visualization change in real-time as you and others vote. The visualization helps identify what opinion groups are forming. </li>
      </ol>
    </div>

<div class="row-fluid">
  <div class="span4 t-span6">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#commentView" id="commentViewTab" data-toggle="tab">
          <i class="icon-align-justify"></i> Read &amp; React
        </a>
      </li>
      <li> 
        <a href="#commentForm" id="commentFormTab" data-toggle="tab">
          <i class="icon-pencil"></i> Write
        </a> 
      </li>
      <li>
        <a href="#analyze" id="analyzeTab" data-toggle="tab">
          <i class="icon-coffee"></i> Analyze
        </a>
      </li>       
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="commentView">
        {{view commentView}}
      </div>
      <div class="tab-pane" id="commentForm">
        {{view commentForm}}
      </div>      
      <div class="tab-pane" id="analyze">
        {{view metadataQuestionsView}}
      </div> 
    </div>
  </div>
  
  </div> <!-- span 4 --> 

  <div class="span8 t-span6">
    <div id="visualization_div" class="row-fluid">
    </div> 
    <div class="well" id="query_results_div">
    </div> 
    <div> 
      {{view resultsView}}
    </div> 
  </div> <!-- span 8 --> 

</div> 

    <div class="alert alert-block alert-info" style="margin-top:20px">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>How do I make meaning of the visualization?</h4>
      <ol>
        <li> Each dot represents a person. The red dot represents you. You will see the dots move around the visualization as you and other participants vote.</li>
        <li> Dots that are closer together voted similarly. Dots that are furter apart voted differently.</li>
        <li> Shaded areas represent groups. Click on a shaded area to discover what the members of that group agreed on, then click on a comment to see patterns of agreement and disagreement.</li>
      </ol>
  </div>

</div> <!-- row --> 
</section>