<div>
  <ul>
    <li>voteTimes: totalVotes,</li>
    <li>firstVoteTimes: actualParticipants,</li>
    <li>commentTimes: totalComments,</li>
    <li>firstCommentTimes: commenters,</li>
    <li>viewTimes: viewTimes,</li>
  </ul>

  <h3>
  	<span style="color:{{viewTimesColor}}">Unique Hits</span>, 
  	<span style="color:{{firstVoteTimesColor}}">Voters</span>, 
  	<span style="color:{{firstCommentTimesColor}}">Commenters</span>
  </h3>
  <svg id="ptptCountsVis" width="1000" height="200"></svg>

  <h3>
  	<span style="color:{{commentsColor}}">Comments</span>
  </h3>
  <svg id="commentCountsVis" width="1000" height="200"></svg>

  <h3>
  	<span style="color:{{votesColor}}">Votes</span>
  </h3>
  <svg id="voteCountsVis" width="1000" height="200"></svg>

</div>