<div style="margin-top: 20px">
<form role="form">
  {{!-- ========== TOPIC ========== --}}
  <div>
    <p style="font-size: 18px; font-weight: 700;">
      Topic
    </p>
    <input
      style="
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="topicForm"
      name="topic"
      value="{{topic}}" />
  </div>
  {{!-- ========== DESCRIPTION ========== --}}
  <div>
    <p style="font-size: 18px; font-weight: 700;"> Description </p>
  	<p><em>
      The description can include
      <a
        href="http://daringfireball.net/projects/markdown/syntax"
        target="_blank">
        markdown
      </a>
      .</em>
    </p>
  	<textarea
      style="font-family: monospace; width: 100%;"
      id="descriptionForm"
      name="description"
      rows="10">{{description}}</textarea>
  </div>
  {{!-- ========== MODERATION SETTINGS ========== --}}
<div style="display:none">

<h3 style="font-size: 18px; font-weight: 700;">Auth options for participants</h3>
  <p title="data-auth_needed_to_vote">
    Require auth to vote
    <div class="config-option-row"><input
      id="auth_needed_to_voteOn"
      type="radio"
      name="auth_needed_to_vote"
      value="true"
      {{#if auth_needed_to_vote}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_needed_to_voteOff"
      type="radio"
      name="auth_needed_to_vote"
      value="false"
      {{#unless auth_needed_to_vote}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p title="data-auth_needed_to_write">
    Require auth to write comments
    <div class="config-option-row"><input
      id="auth_needed_to_writeOn"
      type="radio"
      name="auth_needed_to_write"
      value="true"
      {{#if auth_needed_to_write}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_needed_to_writeOff"
      type="radio"
      name="auth_needed_to_write"
      value="false"
      {{#unless auth_needed_to_write}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p title="data-auth_opt_fb">
    Allow participants to use Facebook to auth
    <div class="config-option-row"><input
      id="auth_opt_fbOn"
      type="radio"
      name="auth_opt_fb"
      value="true"
      {{#if auth_opt_fb}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_opt_fbOff"
      type="radio"
      name="auth_opt_fb"
      value="false"
      {{#unless auth_opt_fb}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p title="data-auth_opt_tw">
    Allow participants to use Twitter to auth
    <div class="config-option-row"><input
      id="auth_opt_twOn"
      type="radio"
      name="auth_opt_tw"
      value="true"
      {{#if auth_opt_tw}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_opt_twOff"
      type="radio"
      name="auth_opt_tw"
      value="false"
      {{#unless auth_opt_tw}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p title="data-auth_opt_allow_3rdparty">
    Allow or disallow all third-party auth options for participants
    <div class="config-option-row"><input
      id="auth_opt_allow_3rdpartyOn"
      type="radio"
      name="auth_opt_allow_3rdparty"
      value="true"
      {{#if auth_opt_allow_3rdparty}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_opt_allow_3rdpartyOff"
      type="radio"
      name="auth_opt_allow_3rdparty"
      value=""
      {{#unless auth_opt_allow_3rdparty}}
        checked
      {{/unless}}>
      No</div>
  </p>

</div>

  <p style="font-size: 18px; font-weight: 700;">Features</p>

  <p>
    Strict moderation (no comments shown without approval)
    <div class="config-option-row"><input
      id="strictOn"
      type="radio"
      name="strict_moderation"
      value="true"
      {{#if strict_moderation}}
        checked
      {{/if}}>
      Yes
    <input
      id="strictOff"
      type="radio"
      name="strict_moderation"
      value=""
      {{#unless strict_moderation}}
        checked
      {{/unless}}>
      No</div>
  </p>
  <p>
    Show comment form to participants
    <div class="config-option-row"><input
      id="writeTypeOn"
      type="radio"
      name="write_type"
      value="true"
      {{#if write_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="writeTypeOff"
      type="radio"
      name="write_type"
      value=""
      {{#unless write_type}}
        checked
      {{/unless}}>
      No</div>
  </p>
  <p>
    Show visualization to participants
    <div class="config-option-row"><input
      id="visTypeOn"
      type="radio"
      name="vis_type"
      value="true"
      {{#if vis_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="visTypeOff"
      type="radio"
      name="vis_type"
      value=""
      {{#unless vis_type}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p>
    Show help text to participants
    <div class="config-option-row"><input
      id="helpTypeOn"
      type="radio"
      name="help_type"
      value="true"
      {{#if help_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="helpTypeOff"
      type="radio"
      name="help_type"
      value=""
      {{#unless help_type}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p>
    Show social sharing buttons to participants
    <div class="config-option-row"><input
      id="socialbtnTypeOn"
      type="radio"
      name="socialbtn_type"
      value="true"
      {{#if socialbtn_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="socialbtnTypeOff"
      type="radio"
      name="socialbtn_type"
      value=""
      {{#unless socialbtn_type}}
        checked
      {{/unless}}>
      No</div>
  </p>

    <p style="font-size: 18px; font-weight: 700;"> Style </p>

  <p>
    Customize background color
    <div class="config-option-row">
    <input
      id="bgColorWhiteOff"
      type="radio"
      name="bgcolor"
      value=""
      {{#unless bgcolor_white}}
        checked
      {{/unless}}>
      Default<input
      id="bgColorWhiteOn"
      type="radio"
      name="bgcolor"
      value="true"
      {{#if bgcolor_white}}
        checked
      {{/if}}>
      White</div>


  </p>
  <p>
    Customize Submit button Color (type in a CSS color or hex code (#00ff00), or blank for default)
    <div class="config-option-row">
    <textarea
      style="font-family: monospace; width: 100%;"
      style="
        display: inline;
        width: 80px;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="customStyleBtn"
      name="style_btn"
      rows="1">{{style_btn}}</textarea></div>
  </p>


  <p>
    Customize help box background color (type in a CSS color or hex code (#00ff00), or blank for default)
    <div class="config-option-row">
    <textarea
      style="font-family: monospace; width: 100%;"
      style="
        display: inline;
        width: 80px;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="helpboxBgcolorBtn"
      name="help_bgcolor"
      rows="1">{{help_bgcolor}}</textarea></div>
  </p>


  <p>
    Customize help box text color(type in a CSS color or hex code (#00ff00), or blank for default)
    <div class="config-option-row">
    <textarea
      style="font-family: monospace; width: 100%;"
      style="
        display: inline;
        width: 80px;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="helpboxColorBtn"
      name="help_color"
      rows="1">{{help_color}}</textarea></div>
  </p>



  {{!-- ========== SAVE BUTTON ========== --}}
  <div class="" style="margin-bottom: 30px">
  	<button
      style="margin-top: 10px"
      class="Btn Btn-primary"
      name="formAction"
      type="button"
      id="submitButton"
      value="publish">
      Save Changes
    </button>
  </div>
</form>
</div>
