{{!-- Copyright (C) 2012-present, Polis Technology Inc. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}

{{!-- <div
  style="
    padding: 15px;
    ">


<p> This conversation has
  <span>
    <strong> numParticipants: {{numParticipants}} </strong>
    participants
  </span>
</p>

  <div style="margin: 10px 0px">
    <button class="facebookShareButton userWillShareOnFacebook">
      <i class="fa fa-facebook-square"></i>
      &nbsp;Share
    </button>
    {{#if fbShareCount}}
    <span class="arrow_box">{{fbShareCount}}</span>
  {{/if}}

    <button class="twitterShareButton userWillShareOnTwitter">
      <i class="fa fa-twitter"></i>
      &nbsp;Tweet
    </button>
    {{#if twitterShareCount}}
      <span class="arrow_box">{{twitterShareCount}}</span>
    {{/if}}
  </div>

</div> --}}

{{!--   <p> <strong>{{s.helpWhatAmISeeingTitle}}</strong> {{s.helpWhatAmISeeing}}  </p>
  <p> <strong> {{s.helpWhatDoIDoTitle}} </strong> {{s.helpWhatDoIDo}}</p> --}}

{{!-- <p> Tell me more: You've probably seen 'recommended products' on Amazon, or 'recommended movies' on Netflix. Each of those services uses statistics to group you with people who buy and watch similar things, then show you things that those people bought or watched. </p>

<p> When you cast a vote on a comment, you are grouped with people who voted like you did! You can see those groups above. Each is made up of people who have similar opinions. There are fascinating insights to discover in each conversation. Go ahead - click a group to see what brought them together and what makes them unique! </p> --}}
