<div class="row" style="margin-top: 7px; padding-top: 15px; word-wrap:break-word;">
    <div class="col-xs-10">
    <!-- <p><span class="badge" style="font-weight: 500; color: white">{{participant_count}} &nbsp;<i class="fa fa-group"></i></span></p> -->
      <p><i class="fa fa-caret-square-o-up {{#unless upvoted}}upvote{{/unless}}" style="cursor: pointer; {{#if upvoted}} color:#f1c40f {{/if}}"> </i>&nbsp;{{linkExternal topic link_url}}</p>
{{!--       <p class="blockquote">{{description}}</p>
 --}}      <div>
        <span class="HeadingF"> {{upvotes}} upvotes </span> &nbsp; | &nbsp; <a href="{{url_name}}" {{#if target}}target={{target}}{{/if}} class="HeadingF"> Discuss </a>
      </div>
    </div>
</div>

