<header>
	<div class="navbar navbar-default navbar-fixed-top">
	  <div class="no-rounding container">
	  	<div class="container"><div class="navbar-header"><a class="navbar-brand" href="#">Polis</a></div>
	      <ul class="nav pull-right navbar-nav">
		    	 <li>{{#link "settings" expand-tokens=true}}<i class="icon-signout"></i>Signout{{/link}}</li>
		  	</ul>
	     	<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
			  		<li>{{#link "inbox" class="active" expand-tokens=true}}Conversations{{/link}}</li>
					</ul>
		  	</div>
			</div>
	 	</div>
	</div>
</header>


<section class="container">

	<div class="col-sm-12 col-md-12" style="margin-bottom: 20px;">
		<h4 style="display:inline">Create a conversation </h4>
		<h5 style="display:inline; font-weight:100"><em>(all fields optional)</em></h5>
	</div>
	<div class="createConversationForm col-sm-6 col-md-6">

		<form class="well conversationsForm" role="form">
			<div class="control-group">
				<label for="topic"> Topic </label>
				<input style="width: 90%" maxlength="35" id="topic" type="text" name="topic" placeholder="Topic - e.g. Legalization" value="{{topic}}" class="form-control">	
			</div>
			<div class="control-group">
				<label for="description"> Description & Question</label>
				<textarea style="width: 90%" type="text" maxlength="300" class="form-control" name="description" placeholder="Description & Question - e.g. Washington and other US states are legalizing, or at least decriminalizing, marijuana. Should this trend continue? Should it stop at marijuana, or should legalization extend to other presently illegal drugs as well?" rows="7">{{description}}</textarea>
			</div>
			
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" checked=""> Invite Only
		    </label>
		  </div>
			<button class="btn btn-success submitButton btn-lg" name="formAction" type="submit" value="publish">Create</button>
			<div class="row" id="errorDiv"> </div>
			<input type="hidden" name="id" id="id" value="{{id}}" class="form-control">
		</form>

			{{!--
			<div class="form-group">
			  <div class="controls">
			  	<div class="checkbox"><label for="anonymous" class="">
			  		<input type="checkbox" id="anonymous" name="is_anon" data-toggle="checkbox" {{#if="" is_anon}}checked{{="" if}}=""> Make this conversation anonymous -- this should grey out/disable the metadata box below.
			  	</label></div>
				</div>
			</div>
			--}}

			{{!--
			<div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it on your website or blog. </p>
              </div>
			<input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly="" class="form-control">
              <div class="alert alert-info">
			--}}

			{{!-- <button class="btn btn-default" name="formAction" type="submit" value="draft">Save as Draft</button> --}}

		<div class="well" id="seedCommentsContainer">
			<i class="icon-caret-right" id="seedCommentsCaret" style="margin-right: 10px;"></i> 
			<h5 style="display:inline"> Add Comments for Participants to React To </h5>
			<div style="display:none;" id="hiddenSeedCommentForm">
				<div style="margin-top: 20px" class="alert alert-info">
      		<p> Optionally add comments for participants to react to when the conversation begins. <i class="icon-info-sign"></i> <span style="cursor: pointer" id="seedCommentHelperTextButton"> Tell me more.</span></p>
      		<div style="display: none; margin-top: 20px" id="hiddenSeedCommentHelperText">
      		<p> Normally, there will be no comments in the conversation as your first participants enter. If you want to ensure that certain perspectives will be discussed, or at least reacted to, you can add them here one at a time. All participants will be able to agree, star, disagree, pass, or trash as usual. </p>
      		<p> Normally, a comment submitted by a participant will be automatically 'agreed' to by the participant who submits it. Comments you add here are free from this constraint - you are free to play devil's advocate and add opposing views, then vote on your preference when you enter the conversation. You might use this to convert a long email chain to a Polis conversation - ie., extract the key comments, add them here, and send the link back out to the chain to get their reactions. </p>
      		</div>
    		</div>
				{{view commentForm}}
			</div>
		</div> 
				
		<div class="well" id="metadataFormContainer">
			<i class="icon-caret-right" id="metadataCaret" style="margin-right: 10px;"></i>
			<h5 style="display:inline"> Ask Participants About Themselves </h5>      
			<div style="display:none;" id="hiddenMetadataForm">
				<div style="margin-top: 20px" class="alert alert-info">
		     	<p> Ask participants about themselves <i class="icon-info-sign"></i> <span id="metaDataHelperTextButton" style="cursor: pointer"> Tell me more. </span></p>
		     	<div id="hiddenMetadataHelperText" style="display:none; margin-top: 20px">
		     	<p> Asks participants for facts about themselves when they first join the conversation, then use that information to filter them later. </p>
		     	<p> Create any kind of question you like. You must define both the questions and the answers. You can define qualitative categories such as "What office do you work out of?" with answers such as "New York", "LA", "Boston", "No office - remote contractor". You can also define binary questions such as "Have you ever lived without healthcare?", but must manually create the answers "Yes" and "No". You can also create quantitative scales, where a question such as "How many times do you check email per day?" might have answers such as "1-2", "3-5", "5+". </p>
		     	<p> When participants enter the conversation, they will be asked to check boxes, and will be able to check as many as apply to them (answers to questions are not mutually exclusive). During the conversation, click the 'Analyze' tab to use the filters. </p>
		     	</div>
		   	</div>
				{{view metadataQuestionsViewWithCreate}}
			</div>
		</div>
		
		<div class="well" id="xidsFormContainer">
			<i class="icon-caret-right" id="xidsCaret" style="margin-right: 10px;"></i>
			<h5 style="display:inline"> Single-Use URLs </h5>      
			<div style="display:none;" id="hiddenXidsForm">
				<div style="margin-top: 20px" class="alert alert-info">
		     	<p> Add xids (one per line) to generate single-use URLs </p>
		   	</div>
		   	<form class="xidsForm" role="form">
					<textarea style="width: 90%" type="text" class="form-control" name="xidsTextarea" placeholder="paste xids here (one per line). API coming soon!" rows="20"></textarea>
				  </form>
			</div>
		</div>

		<!--

		<h5> <span id="shareLabel">SHARING <i class="icon-info-sign"></i></span> </h5>

		<p> Share this link with your participants:
			<input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly>
		</p>

		-->


</div> <!-- end div formerly known by span6 -->




</div></section>