<section class="container">
<div class="row">

	<div class="col-md-8 col-md-offset-2">

		<h1 class="HeadingA">
			Create a conversation
			<span class="HeadingA-aside">(all fields are optional)</span>
		</h1>

		<form class="FormVertical" role="form">
			<div class="FormVertical-group">
				<label class="FormLabel" for="topic">Topic</label>
				<input maxlength="35" id="topic" type="text" name="topic" value="{{topic}}" class="FormControl">
			</div>
			<div class="FormVertical-group">
				<label class="FormLabel" for="description"> Description &amp; Question</label>
				<textarea type="text" maxlength="300" class="FormControl" name="description" id="description" rows="7">{{description}}</textarea>
			</div>
		  <div class="FormVertical-group">
		    <label class="FormLabel">
		      <input type="checkbox" id="is_public" name="is_public" class="Checkbox"> Short URL (easily typeable, less secure)
		    </label>
		  </div>
			<div class="FormVertical-group">
				<button class="Btn Btn-primary" name="formAction" type="button" id="submitButton" value="publish">Create</button>
			</div>
			<div class="row" id="errorDiv"> </div>
			<input type="hidden" name="id" id="id" value="{{id}}" class="FormControl">
		</form>

			{{!--
			<div class="FormVertical-group">
			  <div class="controls">
			  	<div class="checkbox"><label for="anonymous" class="">
			  		<input type="checkbox" id="anonymous" name="is_anon" data-toggle="checkbox" {{#if="" is_anon}}checked{{="" if}}=""> Make this conversation anonymous -- this should grey out/disable the metadata box below.
			  	</label></div>
				</div>
			</div>
			--}}

			{{!--
			<div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it on your website or blog. </p>
              </div>
			<input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly="" class="FormControl">
              <div class="alert alert-info">
			--}}

			{{!-- <button class="btn btn-default" name="formAction" type="submit" value="draft">Save as Draft</button> --}}

		<div class="Accordion" id="seedCommentsContainer" style="cursor:pointer">
			<i class="Accordion-toggle fa fa-caret-right" id="seedCommentsCaret"></i>
			<h5 class="HeadingB HeadingB--inline">Add Comments for Participants to React To</h5>
			<div style="display:none;" id="hiddenSeedCommentForm">
				<div class="Accordion-content">
      		<p> Optionally add comments for participants to react to when the conversation&nbsp;begins. </p>
					<p><button class="BtnLink Toggle" id="seedCommentHelperTextButton"><i class="fa fa-info-circle"></i>  Tell me more</button></p>
      		<div style="display:none;" class="ToggleContent" id="hiddenSeedCommentHelperText">
      		<p> Normally, there will be no comments in the conversation as your first participants enter. If you want to ensure that certain perspectives will be discussed, or at least reacted to, you can add them here one at a time. All participants will be able to agree, star, disagree, pass, or trash as&nbsp;usual. </p>
      		<p> Normally, a comment submitted by a participant will be automatically ‘agreed’ to by the participant who submits it. Comments you add here are free from this constraint—you are free to play devil's advocate and add opposing views, then vote on your preference when you enter the conversation. You might use this to convert a long email chain to a Polis conversation—ie., extract the key comments, add them here, and send the link back out to the chain to get their&nbsp;reactions. </p>
      		</div>
					{{view commentForm}}
				</div>
			</div>
		</div>

{{!-- 		<div class="well" id="xidsFormContainer" style="cursor:pointer">
			<i class="fa fa-caret-right" id="xidsCaret" style="margin-right: 10px;"></i>
			<h5 style="display:inline"> Single-Use URLs </h5>
			<div style="display:none;" id="hiddenXidsForm">
				<div style="margin-top: 20px" class="alert alert-info">
		     	<p> Add xids (one per line) to generate single-use URLs </p>
		   	</div>
		   	<form class="xidsForm" role="form">
					<textarea style="width: 90%" type="text" class="FormControl" name="xidsTextarea" id="xidsTextarea" placeholder="paste xids here (one per line). API coming soon!" rows="20"></textarea>
				  </form>
			</div>
		</div> --}}

		<div class="Accordion" id="moderationFormContainer" style="cursor:pointer">
			<i class="Accordion-toggle fa fa-caret-right" id="moderationCaret"></i>
			<h5 class="HeadingB HeadingB--inline"> Moderation </h5>
			<div style="display:none;" id="hiddenModerationForm" class="Accordion-content">
		   	<form class="FormVertical" role="form">
					<label class="FormLabel">
						<input type="checkbox" checked="" id="profanity_filter" name="profanity_filter" class="Checkbox">
						Profanity filter
					</label>
					<label class="FormLabel">
						<input type="checkbox" checked="" id="spam_filter" name="spam_filter" class="Checkbox"> Spam filter
					</label>
					<label class="FormLabel">
						<input type="checkbox" id="strict_moderation" name="strict_moderation" class="Checkbox"> Strict Moderation (no comments shown without approval)
						</label>
			  </form>
			</div>
		</div>

		<!--

		<h5> <span id="shareLabel">SHARING <i class="fa fa-info-circle"></i></span> </h5>

		<p> Share this link with your participants:
			<input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly>
		</p>

		-->

	</div> <!-- end div formerly known by span6 -->
{{!-- 	<div class="col-sm-6">
		<iframe width="100%" style="min-height: 400px" src="//www.youtube.com/embed/ST9bUZhsHf4?rel=0" frameborder="0" allowfullscreen></iframe>
	</div> --}}


</div> <!-- row -->
</section>
