<section class="container" style="margin-bottom: 30px;">
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    {{#if ownername}}
    <p style="font-style: italic;">This conversation was started by {{ownername}}</p>
    {{else}}
    </br>
    {{/if}}

{{#if fb}}
<div style="text-align:center">
	{{#if linkMode}}
		<div id="connectFbExplain" class="panel panel-info">
		  <div class="panel-heading">matching pol.is account already exists</div>
		  <div class="panel-body">
			A pol.is account exists with the email address associated with this Facebook account. To enable seamless Facebook logins with this existing pol.is account, enter your pol.is password below.
		  </div>
		</div>
		</div>
	{{else}}
		<div class="facebook-button" style="color:#fff" id="login-button-login-fb" tabindex="100" >
		        <span style="
		  width: 22px;
		  height: 22px;
		  left: 25px;
		  position: absolute;
		  top: 8px;
		  content: '';
		  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xIFRpbnkvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEtdGlueS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJ0aW55IiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayINCgkgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyMnB4IiBoZWlnaHQ9IjIycHgiIHZpZXdCb3g9IjAgMCAyMiAyMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjAuNzksMEgxLjIxQzAuNTQsMCwwLDAuNTQsMCwxLjIxdjE5LjU3QzAsMjEuNDYsMC41NCwyMiwxLjIxLDIybDEwLjMxLDB2LTguNUg4LjV2LTMuMzRoMy4wNVY3LjcxDQoJYzAtMi44NCwxLjc0LTQuMzksNC4yNy00LjM5YzEuMjEsMCwyLjI2LDAuMDksMi41NiwwLjEzdjIuOTdsLTEuNzYsMGMtMS4zOCwwLTEuNjUsMC42NS0xLjY1LDEuNjJ2Mi4xMmgzLjI5bC0wLjQzLDMuMzRoLTIuODZWMjINCgloNS44YzAuNjcsMCwxLjIxLTAuNTQsMS4yMS0xLjIxVjEuMjFDMjIsMC41NCwyMS40NiwwLDIwLjc5LDB6Ii8+DQo8L3N2Zz4=)
		"></span>Log in with Facebook</div>

    {{!-- <div><a href="/api/v3/twitterBtn?dest=/2demo">twitter</a></div> --}}
	{{/if}}
{{/if}}

{{#if social}}
	{{#unless linkMode}}
	    <div class="SwitchForms" id="socialOr">
	      <span class="SwitchForms-text">or</span>
	      <div class="SwitchForms-line"></div>
	    </div>
    {{/unless}}
{{/if}}

  {{#if create}}

      {{#if showEmailWelcome}}
	    <h1 class="HeadingA">
	      Email verified, create your account:
	    </h1>
      {{else}}
      {{/if}}

{{!--     <div style="float:center; width=100%">
	    <div tyle="float:center" class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
	</div> --}}


{{!-- <strong class="line-thru">or</strong> --}}


{{!--     <div class="SwitchForms">
      <span class="SwitchForms-text">OR</span>
    </div> --}}

    {{#if showEmailWelcome}}
    {{else}}
    {{!-- <h3 class="HeadingC" style="text-align:center; border: none;">Sign up with your email address</h3> --}}
    {{/if}}
    <form role="form" class="FormVertical">
      <div class="FormVertical-group">
        <label style="float:left" class="FormLabel" for="gatekeeperNameCreate" >Your name</label>
        <input tabindex="1" type="text" id="hname" name="hname" id="gatekeeperNameCreate" class="FormControl">
      </div>
      <div class="FormVertical-group">
        <label style="float:left" class="FormLabel" for="gatekeeperEmailCreate">Email</label>
        <input tabindex="2" type="text" id="email" name="email" id="gatekeeperEmailCreate" class="FormControl" {{#if readonlyEmail}}readonly{{/if}}>
      </div>
      <div class="FormVertical-group">
        <label style="float:left" class="FormLabel" for="gatekeeperPasswordCreate">Password</label>
        <input tabindex="3" type="password" id="password" name="password" id="gatekeeperPasswordCreate" class="FormControl">
      </div>
      <div class="FormVertical-group">
        <input tabindex="4" type="checkbox" name="gatekeeperTosPrivacy" id="gatekeeperTosPrivacy" style="position: relative; top: -1px"> &nbsp; By signing up, you agree to our <a href="https://pol.is/tos" tabindex="110" > terms</a> and <a href="https://pol.is/privacy" tabindex="111" > privacy</a> policy.
      </div>
      <div class="row" id="errorDiv"> </div>
      <div class="FormVertical-group text-center">
        <button tabindex="5" type="submit" class="Btn Btn-primary" style="display:inline-block">Sign up</button>
        {{!-- <button tabindex="5" type="submit" class="Btn Btn-primary" style="display:inline-block">Create your pol.is account</button> --}}
      </div>
      <div style="margin-bottom: 30px" class="text-center">Already have an account? <a tabindex="6" id="login-link-signup-email" href="/user/login" class="js-link" data-section="signup-select">Log in</a>
    </form>

    </div>

  {{else}}
    {{!-- <h1 class="HeadingA">Sign in</h1> --}}
    {{#if conversation_id}}
    <p> To participate in this conversation, you'll need to sign in with a Polis account. </p>
    {{/if}}

    {{!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> --}}

    <form role="form" class="FormVertical">
      <div class="FormVertical-group">
        <label style="float:left" class="FormLabel" for="gatekeeperLoginEmail">Email</label>
        <input tabindex="1" type="text" id="email" name="email" id="gatekeeperLoginEmail" class="FormControl">
      </div>
      <div class="FormVertical-group">
        <label style="float:left" class="FormLabel" for="gatekeeperLoginPassword">Password</label>
        <a tabindex="4" style="float:right; font-size:75%;" href="/pwresetinit">Forgot password</a>
        <input tabindex="2" type="password" id="password" name="password" id="gatekeeperLoginPassword" class="FormControl">
      </div>

      <div class="row" id="errorDiv"></div>
      <div class="FormVertical-group text-center">
      	{{#if linkMode}}
	        <button tabindex="3" class="Btn Btn-primary" id="connectFb">Connect your facebook account</button>
        {{else}}
	        <button tabindex="3" type="submit" class="Btn Btn-primary" id="loginBtn">Log In</button>
        {{/if}}
      </div>
	  {{#unless linkMode}}
        <p class="primary text-center">Don't have an account?      <a tabindex="5" id="login-link-signup-email" href="/user/create" class="js-link" data-section="signup-select">Sign up</a>
   	  {{/unless}}
    </form>


    </p>

  {{/if}}
  {{#unless hideHaveAccount}}
{{!--     <div class="SwitchForms">
      <span class="SwitchForms-text">OR</span>
      <div class="SwitchForms-submit">
        {{#if create}}
          <button class="gotoSignIn Btn Btn-alt">I have an account and need to sign in</button>
        {{else}}
          <button class="gotoCreate Btn Btn-alt">Create new account</button>
        {{/if}}
      </div>
    </div> --}}
    {{/unless}}

{{#if social}}
  {{#unless linkMode}}
    <div class="SwitchForms">
      <div class="SwitchForms-line"></div>
    </div>
  {{/unless}}
{{/if}}


{{#if fb}}
  {{#unless linkMode}}
    <h5 style="padding: 30px">If you click "Log in with Facebook" and are not a pol.is user, you will be registered and you agree to the pol.is <a href="https://pol.is/tos" tabindex="112" > terms</a> and <a href="https://pol.is/privacy" tabindex="113" > privacy</a> policy</h5>
  {{/unless}}
{{/if}}

  </div> <!-- span -->

</div> <!-- row -->
</section> <!-- container -->
