<header>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner no-rounding">
	  	<div class="container">
	      <a class="brand" href="#">Polis</a>

	      <ul class="nav pull-right">
		    	 <li>{{#link "settings" expand-tokens=true}}<i class="icon-signout"></i>Signout{{/link}}</li>
		  	</ul>
	     	<div class="nav-collapse collapse">
					<ul class="nav">
			  		<li>{{#link "inbox" class="active" expand-tokens=true}}Conversations{{/link}}</li>
					</ul>
		  	</div>
			</div>
	 	</div>
	</div>
</header>


<section class="container">
<h1>Create a conversation</h1>
<div class="row">

	<div class="span6 createConversationForm">
		<input type="hidden" name="id" id="id" value="{{id}}"/>

		<form class="form-horizontal conversationsForm">
			<div class="control-group">
			  	<label for="topic" class="control-label">Topic</label>
			  	<div class="controls">
			  		<input type="text" name="topic" placeholder="Topic" value="{{topic}}"/>
				</div>
			</div>
		  	<div class="control-group">
			  	<label for="description" class="control-label">Description</label>
			  	<div class="controls">
			  		<textarea type="text" name="description" placeholder="Description" rows="8">{{description}}</textarea>
				</div>
			</div>
			{{!--
			<div class="control-group">
			  <div class="controls">
			  	<label for="anonymous" class="checkbox">
			  		<input type="checkbox" id="anonymous" name="is_anon" data-toggle="checkbox" {{#if is_anon}}checked{{/if}}> Anonymous
			  	</label>
				</div>
			</div>
			--}}

			{{!--
			<div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it on your website or blog. </p>
              </div>
			<input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly>
              <div class="alert alert-info">
			--}}
			<button class="btn btn-success" name="formAction" type="submit" value="publish">Create & Publish</button>
			{{!-- <button class="btn" name="formAction" type="submit" value="draft">Save as Draft</button> --}}

		</form>
	</div>

	<div class="span6">
		<h2>Add questions about facts</h2>
			{{view metadataQuestionsViewWithCreate}}
		<h2>Prepopulate opinions</h2>
			{{view commentForm}}
	</div>
</div>


</section>