<div
	style="
    margin: auto;
    margin-bottom: 1px; {{!-- workaround for bug --}}
    {{!-- height: 48px; --}}
    {{#unless visible}}
      display: none;
    {{/unless}}
    ">

  <span>
    {{s.group_123}}
  </span>
  {{#each groups2}}<span
      style="
        cursor: pointer;
        
        padding: 4px;
        padding-bottom: 6px;

        display: inline-block;
        {{this.styles}}
      "
      data-gid="{{this.gid}}"
      class="
        groupButton
      "><span class="
        visiblePart
        {{#if this.selected}}
          selectedGroupButton
        {{/if}}
        " style="
        padding: 4px;
        font-weight: 700;

      ">{{this.name}}</span></span>{{/each}}

{{!--   <button
    class="
      groupButton
      infoPaneButton
      {{#if infoSlidePaneViewActive}}
        selectedGroupButton
      {{/if}}
      ">
      {{s.info}}
  </button> --}}
</div>
