<div class="col-xs-4">
  <h4> Group {{gid}}</h4>
  <div>
    {{#ifDefined participantCount}}
      <i class="icon-group"></i> {{! NOTE: this may have changed to icon-users }}
      Participants:
      {{participantCount}}
      {{#ifDefined percent}}
        <span style="color: gray">({{percent}}%)</span>
      {{/ifDefined}}
    {{/ifDefined}}
    {{#ifDefined commentCount}}
      <i class="icon-align-left"></i>
      Comments:
      {{commentCount}}
    {{/ifDefined}}
    {{#ifDefined voteCount}}
      &#x25c6; {{! unicode diamond shape }}
      Votes:
      {{voteCount}}
    {{/ifDefined}}
  </div>
  {{view analyzeGlobalView}}
</div>