<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Polis</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li class="active">{{#link "inbox" expand-tokens=true}}Conversations{{/link}}</li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li>{{#link "settings" expand-tokens=true}}<i class="icon-signout"></i>&nbsp; Signout{{/link}}</li>
        <li class="active"><a href="./">Fixed top</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>








<section class="container">
<div class="row">
  <div class="col-sm-12 col-md-12">
  {{#link "conversation/create" expand-tokens=true className="startNewConversation btn btn-large btn-success"}}<i class="icon-plus-sign-alt"></i> Start A New Conversation {{/link}}
  </div>
</div>

<div class="row">
    <div class="col-lg-offset-3 col-sm-6 col-md-6">
      {{#collection tag="ul" class="conversations"}}

        <li class="conversation">
              <h3> {{topic}} </h3>
              <p> {{{description}}} </p>
              <input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly="" class="form-control">
              <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it on your website or blog. </p>
              </div>
              <span class="participantCount"> {{participant_count}}
                <i class="icon-user"></i>
                <span class="indicator {{#if is_active}}active{{/if}}"><i class="icon-circle"></i></span>
              </span>

              <ul class="actions actionsDetailsView">
                <li><a href="{{url_name}}"><i class="icon-rocket"></i>&nbsp;Launch Conversation</a></li>
              </ul>

        </li>
      {{else}}
        <p>You currently have no conversations in your inbox. If this is an error, please <a href="mailto:colinmegill@gmail.com?Subject=Polis%20feedback:%20inbox" target="_blank"> let us know. </a> <i class="icon-envelope-alt"></i></p>
      {{/collection}}
  </div>
</div>
</section>