<header>
    <div class="navbar navbar-inverse">
      <div class="no-rounding container">
        <div class="container"><div class="navbar-header"><a class="navbar-brand" href="#">Polis</a></div>
          <ul class="nav pull-right navbar-nav">
            <li>{{#link "settings" expand-tokens=true}}<i class="icon-signout"></i>&nbsp; Signout{{/link}}</li>
          </ul>
        </div>
      </div>
    </div>
</header>

<section class="container">
<div class="row">
  <div class="col-sm-12 col-md-12">
  {{#link "conversation/create" expand-tokens=true className="startNewConversation btn btn-large btn-success"}}<i class="icon-plus-sign-alt"></i> Start A New Conversation {{/link}}
  </div>
</div>

<div class="row">
    <div class="col-lg-offset-3 col-sm-6 col-md-6">
      {{#collection tag="ul" class="conversations"}}
        <li class="conversation">
              <h3> {{topic}} </h3>
              <p> {{{description}}} </p>
              <input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly="" class="form-control">
              <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it on your website or blog. </p>
              </div>
              <span class="participantCount"> {{participant_count}}
                <i class="icon-user"></i>
                <span class="indicator {{#if is_active}}active{{/if}}"><i class="icon-circle"></i></span>
              </span>

              <ul class="actions actionsDetailsView">
                <li><a href="{{url_name}}"><i class="icon-rocket"></i>&nbsp;Launch Conversation</a></li>
              </ul>

        </li>
      {{else}}
        <p>You currently have no conversations in your inbox. If this is an error, please <a href="mailto:colinmegill@gmail.com?Subject=Polis%20feedback:%20inbox" target="_blank"> let us know. </a> <i class="icon-envelope-alt"></i></p>
      {{/collection}}
  </div>
</div>
</section>