<div class="row" style="margin-top: 30px; border-top: 1px solid lightgrey; padding-top: 20px; padding-bottom: 20px;word-wrap:break-word;">
    <div class="col-xs-7">
    <!-- <p><span class="badge" style="font-weight: 500; color: white">{{participant_count}} &nbsp;<i class="fa fa-group"></i></span></p> -->
      <h5 class="HeadingB">{{topic}}</h5>
      <p class="blockquote" >{{description}}</p>
      <div>
        <a href="{{url_name}}" {{#if target}}target={{target}}{{/if}} style="font-weight:500"> {{url_name_with_hostname}} </a>
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <div>
        {{#if is_mod}}
        <a href="{{url_moderate}}" {{#if target}}target={{target}}{{/if}} class="Btn Btn-alt pull-right">Admin</a>
        {{/if}}
        <div style="clear: both;"></div>
      </div>
      <div style="margin-top: 20px">
        {{#if is_mod}}
        <a href="/share{{url_name}}" class="Btn Btn-alt pull-right"><i class="fa fa-link hidden-xs"></i>&nbsp;Share</a>
        {{/if}} 
        <div style="clear: both;"></div>
      </div>

    </div>
</div>