<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Polis</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">{{#link "inbox" expand-tokens=true}}Conversations{{/link}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://pol.is/about">About</a></li>
        <li><a href="mailto:colin@pol.is?subject=Polis%20Feedback">Contact</a></li>
        <li>{{#link "settings" expand-tokens=true}}
          {{#ifNotEmbedded}}
          <i class="icon-signout"></i>
          {{/ifNotEmbedded}}
          &nbsp; Signout{{/link}}</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

  <div style=" width: 100%; margin:auto; position: fixed; z-index: 1010;">
    {{#link "conversation/create" expand-tokens=true className="startNewConversation btn btn-large btn-success"}}
    {{#ifNotEmbedded}}
    <i class="icon-plus-sign-alt"></i>
    {{/ifNotEmbedded}}
    Start A New Conversation {{/link}}
  </div>


<section class="container" style="padding-top: 65px"> <!-- padding to take care of above fixed button -->
<div class="row">
    <div class="col-sm-12">
      {{#collection tag="ul" class="conversations" style="list-style: none"}}
          <li class="row" style="border-bottom: 1px solid lightgrey; padding-bottom: 10px">
              <div class="col-sm-5">
                <h5>{{topic}}</h5>
                <i>{{description}}</i>
              </div>
              <div class="col-sm-1">
                <p><span class="badge" style="font-weight: 100; color: white">{{participant_count}} <i class="icon-user"></i></span></p>
                <!-- <img src="sparklines.svg" style="width:100%"> -->
                <!--http://benjchristensen.com/2011/08/08/simple-sparkline-using-svg-path-and-d3-js/ -->
              </div>
              <div class="col-sm-4">
                <input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly="" class="form-control">
                <!-- <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it on your website or blog. </p>
                </div> -->
              </div>
              <div class="col-sm-2">
                <p><a href="{{url_name}}" class="btn btn-default btn-large"><i class="icon-rocket"></i>&nbsp;Launch Conversation</a></li></p>
              </div>
          </li>
        </div>
      {{else}}
        <p>You currently have no conversations in your inbox. If this is an error, please <a href="mailto:colinmegill@gmail.com?Subject=Polis%20feedback:%20inbox" target="_blank"> let us know. </a> <i class="icon-envelope-alt"></i></p>
      {{/collection}}
  </div>
</div>
</section>