
<section class="container" style="margin-bottom: 50px;"> 

<div class="row">
  <a href="/{{conversation_id}}"><i class="fa fa-arrow-left"></i>  Back to conversation</a>
  <div class="col-sm-12 conversationViewHeadline">
    <h1 class="HeadingA">Admin</h1>
{{!--         <h2> {{topic}} </h2>
    <small><i> {{description}} </i></small> --}}
<!-- Nav tabs -->
<ul class="nav nav-tabs tab-conv" style="
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 0px">


  <li class="active"><a href="#comments" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Comments {{!-- <span class="badge"> {{view todoCountView2}} </span> --}}</a>
  </li>


  <li><a href="#ptpts" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Participants</a></li>  
  
  <li><a href="#config" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Config</a></li>  
</ul>

<!-- Tab panes -->
<div class="tab-content" >

  {{! comments sub tabs}}
  <div class="tab-pane active" id="comments"> 
    <div class="tab-content col-xs-12" >

      <ul class="nav nav-tabs tab-conv" style="
      margin-bottom: 30px;
      margin-top: 30px;
      border-bottom: 0px">
      <li class="active"><a href="#todo" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Todo <span class="badge"> {{view todoCountView}} </span></a></li>
        <li><a href="#accepted" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Accepted <span class="badge"> {{view acceptedCountView}} </span></a></li>
        <li><a href="#rejected" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Rejected <span class="badge"> {{view rejectedCountView}} </span></a></li>
        <li><a href="#seed" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Seed Comments </a></li>  
      </ul>{{! end comments sub tabs}}

      <div class="tab-pane active" id="todo"> 
        {{#if strict_moderation}}
          <div class="alert-danger" style="
            font-family: brandon-grotesque;
            display: block;
            padding: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
            border: 1px solid transparent;
            border-radius: 4px;
            ">Strict moderation is on. These comments <strong>can not</strong> yet be seen by particpants.</div>
        {{else}}
          <div class="alert-info" style="
            font-family: brandon-grotesque;
            display: block;
            padding: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
            border: 1px solid transparent;
            border-radius: 4px;
            ">Strict moderation is off. These comments <strong>can</strong> be seen by particpants.</div>
        {{/if}}


        {{view moderateCommentsTodoCollectionView}} </div>
      <div class="tab-pane" id="accepted">{{view moderateCommentsAcceptedCollectionView}}</div>
      <div class="tab-pane" id="rejected">{{view moderateCommentsRejectedCollectionView}}</div>
      <div class="tab-pane" id="seed">
          <h5 class="HeadingB HeadingB--inline">Add Comments</h5>
          <div id="hiddenSeedCommentForm">
              {{view commentForm}}
          </div>
      </div>
    </div> {{! end comments sub-tab pane}}
  </div>{{! end comments tab }}




  {{! participants sub tabs}}
  <div class="tab-pane" id="ptpts"> 
    <div class="tab-content col-xs-12" >

      <ul class="nav nav-tabs tab-conv" style="
      margin-bottom: 30px;
      margin-top: 30px;
      border-bottom: 0px">
      <li class="active"><a href="#ptpts_todo" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Todo <span class="badge"> {{view todoPtptoiCountView}} </span></a></li>
        <li><a href="#ptpts_accepted" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Shown <span class="badge"> {{view acceptedPtptoiCountView}} </span></a></li>
        <li><a href="#ptpts_rejected" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Hidden <span class="badge"> {{view rejectedPtptoiCountView}} </span></a></li>
        {{!-- <li><a href="#ptpts_invite" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Invite More </a></li> --}}
      </ul>{{! end comments sub tabs}}


      <div class="tab-pane active" id="ptpts_todo">
        {{view moderateParticipantsTodoCollectionView}}
      </div>
      <div class="tab-pane" id="ptpts_accepted">
        <div class="alert-info" style="
            font-family: brandon-grotesque;
            display: block;
            padding: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
            border: 1px solid transparent;
            border-radius: 4px;
            ">These particpants are visible. If their Twitter accounts are connected, they will be shown to other participants. Those with more followers will be prioritized if there are too many participants to show.</div>
        {{view moderateParticipantsAcceptedCollectionView}}
      </div>
      <div class="tab-pane" id="ptpts_rejected">
        <div class="alert-info" style="
            font-family: brandon-grotesque;
            display: block;
            padding: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
            border: 1px solid transparent;
            border-radius: 4px;
            ">These participants are not shown to others, but their votes are still counted. Note that they will still be shown to other participants who are their Facebook friends.</div>
        {{view moderateParticipantsRejectedCollectionView}}
      </div>
      <div class="tab-pane" id="ptpts_invite">
          <h5 class="HeadingB HeadingB--inline">Invite Participants</h5>
          <div id="hiddenSeedCommentForm">
              {{!view commentForm}}
          </div>
      </div>
    </div> {{! end participants sub-tab pane}}
  </div>{{! end participants tab }}


  <div class="tab-pane" id="config">{{view conversationConfigView}}</div>
</div>


  </div>
<!--  <div class="col-sm-6 alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4> Welcome</h4>
    <p> The purpose of Polis is to allow large groups (larger than can be accomodated by email and other similar tools) to communicate in real-time, in the interest of sharing feedback and making decisions. Polis is currently in beta - your <span class="popover_helper_class" id="feedback_and_suggestions"> feedback and suggestions</span> are welcome as we work to improve the overall experience of the application. <i class="fa fa-info-circle"></i> <span class="popover_helper_class" id="how_do_i_use">How do I use Polis?</span></p>
  </div> -->
</div>


</section>
