<div style="
  max-width: 550px;
  margin: auto;
  ">

{{!-- ========= LINK BACK TO CONVERSATION ========== --}}

<a href="/{{conversation_id}}">
  <i class="fa fa-arrow-left"></i>
  Back to conversation
</a>

{{!-- ========= TITLE ========== --}}

  <h1 class="HeadingA">
    Admin
  </h1>
  {{!-- <h2> {{topic}} </h2>
  <small><i> {{description}} </i></small> --}}


{{!-- ========= TABS ========== --}}

<ul
  class="
    nav
    nav-tabs
    tab-conv"
  style="
    border-bottom: 0px
  ">
  {{!-- ========= STATS TAB ========== --}}
  {{!--   <li class="active">
    <a
      href="#admin_stats"
      class="HeadingC polis-tab"
      style="
        padding: 10px 0px !important;
        border: none;
        text-transform: none;"
      data-toggle="tab"
      >
      Stats
    </a>
  </li> --}}


  {{!-- ========= COMMENTS TAB ========== --}}
  <li style="margin-right: 10px;" class="active">
    <a
      href="#comments"
      class="HeadingC polis-tab"
      style="
        padding: 10px 0px !important;
        border: none;
        text-transform: none;"
      data-toggle="tab"
      >
      Comments
      {{!-- <span class="badge"> {{view todoCountView2}} </span> --}}
    </a>
  </li>

  {{!-- ========= PEOPLE TAB ========== --}}
  <li style="margin-right: 10px;">
    <a
      href="#ptpts"
      class="HeadingC polis-tab"
      style="padding: 10px 0px !important; border: none;  text-transform: none;"
      data-toggle="tab">
      People
    </a>
  </li>

  {{!-- ========= CONFIG TAB ========== --}}
  <li style="margin-right: 10px;">
    <a
      href="#config"
      class="HeadingC polis-tab"
      style="
        padding: 10px 0px !important;
        border: none;
        text-transform: none;"
      data-toggle="tab">
    Config
    </a>
  </li>

  {{!-- ========= STATS TAB ========== --}}
  <li style="margin-right: 10px;">
    <a
      href="#stats"
      class="HeadingC polis-tab"
      style="
        padding: 10px 0px !important;
        border: none;
        text-transform: none;"
      data-toggle="tab">
    Stats
    </a>
  </li>

</ul>

{{!-- ========= TAB PANE CONTENT ========== --}}

<div class="tab-content" >

  {{!-- ========= COMMENT SUB TABS ========== --}}
  <div class="tab-pane active" id="comments">
    <div class="tab-content">
      <ul
        class="nav nav-pills tab-conv"
        style="
          margin-bottom: 30px;
          margin-top: 30px;
          border-bottom: 0px
        ">
        <li class="active">
          <a
            href="#todo"
            class="HeadingC polis-tab"
            style="
              border: none;
              text-transform: uppercase;
              font-size: 12px;
            "
            data-toggle="tab">
            Todo
            <span class="badge"> {{view todoCountView}} </span>
          </a>
        </li>
        <li>
          <a
            href="#accepted"
            class="HeadingC polis-tab"
            style="
              border: none;
              text-transform: uppercase;
              font-size: 12px;
            "
            data-toggle="tab">
            Accepted
            <span class="badge"> {{view acceptedCountView}} </span>
          </a>
        </li>
        <li>
          <a
            href="#rejected"
            class="HeadingC polis-tab"
            style="
              border: none;
              text-transform: uppercase;
              font-size: 12px;
            "
            data-toggle="tab">
            Rejected
            <span class="badge"> {{view rejectedCountView}} </span>
          </a>
        </li>
        <li>
          <a
            href="#seed"
            id="seedTab"
            class="HeadingC polis-tab"
            style="
              border: none;
              text-transform: uppercase;
              font-size: 12px;
            "
            data-toggle="tab">
            Seed Comments
          </a>
        </li>
      </ul>{{! end comments sub tabs}}

      {{!-- ========= COMMENT CONTENT ========== --}}
      <div class="tab-pane active" id="todo">
        {{#if strict_moderation}}
          <p>
              Strict moderation is <strong>on</strong>. These comments <strong>can not</strong> yet be seen by particpants.
            </p>
        {{else}}
          <p>
            Strict moderation is <strong>off</strong>. These comments <strong>can</strong> be seen by particpants.
          </p>
        {{/if}}
        {{view moderateCommentsTodoCollectionView}}
      </div>

      <div class="tab-pane" id="accepted">
        {{view moderateCommentsAcceptedCollectionView}}
      </div>
      <div class="tab-pane" id="rejected">
        {{view moderateCommentsRejectedCollectionView}}
      </div>
      <div class="tab-pane" id="seed">
          <h5 class="HeadingB HeadingB--inline">
            Add Comments
          </h5>
          <div id="hiddenSeedCommentForm">
            {{view commentForm}}
          </div>
      </div>
    </div> {{! end comments sub-tab pane}}
  </div>{{! end comments tab }}


  {{!-- ========= PARTICIPANT SUB TABS ========== --}}
  <div class="tab-pane" id="ptpts">
    <div class="tab-content">
      <ul
        class="nav nav-pills tab-conv"
        style="
          margin-bottom: 30px;
          margin-top: 30px;
          border-bottom: 0px
        ">
        <li class="active">
          <a
            href="#ptpts_todo"
            class="HeadingC polis-tab"
            style="
              border: none;
              font-size: 12px;
              text-transform: uppercase;
            "
            data-toggle="tab">
            Default
            <span class="badge"> {{view todoPtptoiCountView}} </span>
          </a>
        </li>
        <li>
          <a
            href="#ptpts_accepted"
            class="HeadingC polis-tab"
            style="
              border: none;
              font-size: 12px;
              text-transform: uppercase;
            "
            data-toggle="tab">
            Featured
            <span class="badge"> {{view acceptedPtptoiCountView}} </span>
          </a>
        </li>
        <li>
          <a
            href="#ptpts_rejected"
            class="HeadingC polis-tab"
            style="
              border: none;
              font-size: 12px;
              text-transform: uppercase;
            "
            data-toggle="tab">
            Hidden
            <span class="badge"> {{view rejectedPtptoiCountView}} </span>
          </a>
        </li>
        {{!-- <li><a href="#ptpts_invite" class="HeadingC polis-tab" style="border: none;  text-transform: none;" data-toggle="tab">Invite More </a></li> --}}
      </ul>{{! end comments sub tabs}}

      {{!-- ========= PARTICIPANT CONTENT ========== --}}
      <div class="tab-pane active" id="ptpts_todo">
        <p>We automatically decide who to show in the visualization, but you can override that here. The visualization will differ per user based on whether they have Facebook friends participating. Here’s how we prioritize who gets shown:</p>
        <ol>
          <li>Facebook friends</li>
          <li>Participants with verified Twitter accounts</li>
          <li>Participants with highest number of Twitter followers</li>
          <li>Participants with Facebook connected</li>
        </ol>
        <p> Featured participants are always shown. Hidden participants are only shown to Facebook friends. </p>
        {{view moderateParticipantsTodoCollectionView}}
      </div>
      <div class="tab-pane" id="ptpts_accepted">
        <p> Featured participants are always shown in the visualization. If their Twitter accounts are connected, they will be shown to other participants. Those with more followers will be prioritized if there are too many featured participants to show.</p>
        {{view moderateParticipantsAcceptedCollectionView}}
      </div>
      <div class="tab-pane" id="ptpts_rejected">
        <p>These participants are not shown in the visualization, but their votes are still counted. Note that they <strong> will </strong> still be shown to other participants who are their Facebook friends.</p>
        {{view moderateParticipantsRejectedCollectionView}}
      </div>

    </div> {{! end participants sub-tab pane}}
  </div>{{! end participants tab }}

  <div class="tab-pane" id="config">
    {{view conversationConfigView}}
  </div>

  <div class="tab-pane" id="stats">
    {{view conversationStatsView}}
  </div>

</div>
