{{#ifNotEmbedded}}
{{> header}}
{{/ifNotEmbedded}}

<section class="container" style="margin-bottom: 50px;"> 

<div class="row">
  <div class="col-sm-8 conversationViewHeadline">
    <h1>Moderate Comments</h1>
{{!--         <h2> {{topic}} </h2>
    <small><i> {{description}} </i></small> --}}
<!-- Nav tabs -->
<ul class="nav nav-tabs" style="margin-bottom: 30px; margin-top: 30px">
  <li class="active"><a href="#todo" data-toggle="tab">Todo <span class="badge"> {{view todoCountView}} </span></a></li>
  <li><a href="#accepted" data-toggle="tab">Accepted <span class="badge"> {{view acceptedCountView}} </span></a></li>
  <li><a href="#rejected" data-toggle="tab">Rejected <span class="badge"> {{view rejectedCountView}} </span></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" >
  <div class="tab-pane active" id="todo"> {{view moderateCommentsTodoCollectionView}} </div>
  <div class="tab-pane" id="accepted">{{view moderateCommentsAcceptedCollectionView}}</div>
  <div class="tab-pane" id="rejected">{{view moderateCommentsRejectedCollectionView}}</div>
</div>


  </div>
<!--  <div class="col-sm-6 alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4> Welcome</h4>
    <p> The purpose of Polis is to allow large groups (larger than can be accomodated by email and other similar tools) to communicate in real-time, in the interest of sharing feedback and making decisions. Polis is currently in beta - your <span class="popover_helper_class" id="feedback_and_suggestions"> feedback and suggestions</span> are welcome as we work to improve the overall experience of the application. <i class="icon-info-sign"></i> <span class="popover_helper_class" id="how_do_i_use">How do I use Polis?</span></p>
  </div> -->
</div>


</section>