

<section class="container" style="margin-bottom: 50px;"> 

<div class="row">
  <div class="col-sm-12 conversationViewHeadline">
    <h1 class="HeadingA">Admin</h1>
{{!--         <h2> {{topic}} </h2>
    <small><i> {{description}} </i></small> --}}
<!-- Nav tabs -->
<ul class="nav nav-tabs tab-conv" style="
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 0px">




  <li class="active"><a href="#todo" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Todo <span class="badge"> {{view todoCountView}} </span></a></li>
  <li><a href="#accepted" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Accepted <span class="badge"> {{view acceptedCountView}} </span></a></li>
  <li><a href="#rejected" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Rejected <span class="badge"> {{view rejectedCountView}} </span></a></li>
  <li><a href="#seed" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Seed Comments </a></li>  
  <li><a href="#config" class="HeadingC polis-tab" style="padding: 10px 5px !important; border: none;  text-transform: none;" data-toggle="tab">Config</a></li>  
</ul>

<!-- Tab panes -->
<div class="tab-content col-sm-8 col-md-6" >
  <div class="tab-pane active" id="todo"> 
    {{#if strict_moderation}}
      <div class="alert-info" style="
        font-family: brandon-grotesque;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 1px solid transparent;
        border-radius: 4px;
        ">Strict moderation is on. These comments <strong>can not</strong> yet be seen by particpants.</div>
    {{else}}
      <div class="alert-info" style="
        font-family: brandon-grotesque;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 1px solid transparent;
        border-radius: 4px;
        ">Strict moderation is off. These comments <strong>can</strong> be seen by particpants.</div>
    {{/if}}


    {{view moderateCommentsTodoCollectionView}} </div>
  <div class="tab-pane" id="accepted">{{view moderateCommentsAcceptedCollectionView}}</div>
  <div class="tab-pane" id="rejected">{{view moderateCommentsRejectedCollectionView}}</div>
  <div class="tab-pane" id="seed">
      <h5 class="HeadingB HeadingB--inline">Add Comments</h5>
      <div id="hiddenSeedCommentForm">
          {{view commentForm}}
      </div>
  </div>
  <div class="tab-pane" id="config">{{view conversationConfigView}}</div>
</div>


  </div>
<!--  <div class="col-sm-6 alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4> Welcome</h4>
    <p> The purpose of Polis is to allow large groups (larger than can be accomodated by email and other similar tools) to communicate in real-time, in the interest of sharing feedback and making decisions. Polis is currently in beta - your <span class="popover_helper_class" id="feedback_and_suggestions"> feedback and suggestions</span> are welcome as we work to improve the overall experience of the application. <i class="fa fa-info-circle"></i> <span class="popover_helper_class" id="how_do_i_use">How do I use Polis?</span></p>
  </div> -->
</div>


</section>
