<div
  style="
    margin-bottom: 15px;
    {{!-- padding: 10px; --}}
    {{!-- border: 1px solid rgb(220,220,220); --}}
    {{!-- border-radius: 2px; --}}
    "
  class="
    flexbox
    justify-content-space-between
    flex-wrap
    ">

  <div
    class="
      flexbox
    ">

    {{!-- ========= PROFILE IMAGE ========== --}}

    <div style="margin-top: 10px;">
      {{#if twitter}}
        <img
          src="/twitter_image?id={{twitter.twitter_user_id}}"
          width="50px"
          style="
            border-radius: 3px
            ">
      {{else}}
          <img
            src="https://graph.facebook.com/v2.2/{{facebook.fb_user_id}}/picture?width=64&height=64"
            width="50px"
            style="
              border-radius: 3px
              ">
      {{/if}}
    </div>

    {{!-- ========= NAME ========== --}}

    <div
      style="
        position: relative;
        top: -4px;
        margin-left: 7px;
        margin-top: 10px;
      ">
      {{#if twitter}}
        <div style="display: inline">
          <p style="margin-bottom: 0px">
            <i class="fa fa-twitter"></i>&nbsp;{{twitter.name}}
          </p>
          <p style="margin: -2px 0px 0px 0px;">
            <a href="https://twitter.com/{{twitter.screen_name}}" target="_blank">
              @{{twitter.screen_name}}
            </a>
          </p>
        </div>
        <p style="font-size: 12px; text-transform: uppercase; font-weight: 300;">
          {{twitter.followers_count}} Followers
        </p>   {{!-- these are stale currently because we havent written code to keep the twitter info cache fresh --}}
      {{else}}
        <p style="
          display: inline;

          ">
          {{#if facebook.fb_link}}
            <i class="fa fa-facebook"></i>&nbsp;<a href="{{facebook.fb_link}}" target="_blank">{{facebook.fb_name}}</a>
          {{else}}
            <i class="fa fa-facebook"></i>&nbsp;{{facebook.fb_name}}
          {{/if}}
        </p>
      {{/if}}

      {{!-- ========= LOCATION BUTTONS ========== --}}

      {{#if facebook.location}}
        <div class="flex-shrink-2">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-map-marker"></i>&nbsp;{{facebook.location}}
        </div>
      {{/if}} {{!-- facebook --}}

      {{#if twitter.location}}
          {{!-- <div>{{#if twitter.verified}} Verified by twitter{{else}} not verified by twitter {{/if}}</div> --}}
          <div class="flex-shrink-2">
          <i class="fa fa-twitter"></i>
          <i class="fa fa-map-marker"></i>&nbsp;{{twitter.location}}</div>
      {{/if}} {{!-- twitter --}}
    </div>
  </div> {{!-- flexbox --}}

  {{!-- ========= ACTION BUTTONS ========== --}}

  <div class="flexbox align-items-flex-start" style="margin-top:10px">
    {{#if showAccept}}
      <button
        id="accept"
        class="Btn Btn-moderateAccept
        ">
      <i class="fa fa-level-up"></i>
      Feature
      </button>
    {{/if}}
    {{#if showReject}}
      <button
        id="reject"
        class="Btn Btn-moderateReject"
        style="min-width: 65px
        ">
      <i class="fa fa-eye-slash"></i>
      Hide
      </button>
    {{/if}}
  </div>
</div>