<div class="conversationViewRoot clickDeselectsHull {{#if use_background_content_class}}background_content{{/if}}">
  
{{!-- {{#ifNotEmbedded}}
{{> header}}
{{/ifNotEmbedded}}
{{#ifTrial}}
  {{#if is_owner}}
    {{> banner}}
  {{else}}
    {{#if pp}}
    {{> banner_pp}}
    {{/if}}
  {{/if}}
{{/ifTrial}}
 --}}
<section class="custom_container_for_large_screens" style="margin-bottom: 0px; margin-top:10px"> 

<div class="row ">
  <div class="
  clickDeselectsHull
  col-xs-offset-0 col-xs-12
  col-sm-offset-0 col-xs-12
  col-md-offset-0 col-md-12
  col-lg-offset-0 col-lg-12
  "
  style="padding-left: 5px; padding-right: 5px"
  > {{! fake container}}
    <div class="col-sm-8 col-md-7 conversationViewHeadline" >
    {{!-- {{#ifNotEmbedded}} --}}
    {{#if is_owner}}
    <div style="padding: 10px 0px 20px 0px">
        <a href="share{{url_name}}" class="Btn Btn-alt" ><i class="fa fa-link"></i>&nbsp;SHARE</a>
        <a href="{{url_moderate}}" class="Btn Btn-alt" >MODERATE</a>
        {{#if is_active}}
          <a id="closeConversationButton" class="Btn Btn-alt" style="cursor:pointer">CLOSE</a>
        {{ else }}
          <a id="reopenConversationButton" class="Btn Btn-alt" style="cursor:pointer">REOPEN</a>
        {{/if}}
        {{!-- <a id="getDataButton" class="Btn Btn-alt hidden-xs" style="cursor:pointer"><i class="fa fa-cloud-download "></i>&nbsp;DATA</a> --}}
    </div>
    {{/if}}
    {{!-- {{/ifNotEmbedded}} --}}
  {{!--     <h3 class="HeadingA" title="Conversation topic">{{topic}}
        {{#unless is_active}}
        <span class="no_you_vote" style="
         color: white;
         background-color: rgb(231, 76, 60);
         /* font-size: 0.7em; */
         /* padding: .2em; */
         font-size: 20px;
         padding: 0px 10px;
         border-radius: 3px;
         position: relative;
         top: -5px;
         left: 6px;
        ">closed</span>
      {{/unless}}
      </h3> --}}
     {{!--  <p style="border-left: 4px solid #2980b9; padding-left: 10px; font-family: chaparral-pro; word-wrap:break-word;" title="Conversation description"> {{description}} </p> --}}
      {{#if link_url}}
      <p style="border-left: 4px solid #2980b9; padding-left: 10px; font-family: chaparral-pro; word-wrap:break-word;">{{linkExternal link_url link_url}}</p>
      {{/if}}

    </div>
  </div> {{! /fake container }}
</div> {{! /row }}

<div id="controlTabs" class="row"> {{! may get no-gutter class on xs }}
<div class="
clickDeselectsHull
col-xs-offset-0 col-xs-12
col-sm-offset-0 col-xs-12
col-md-offset-0 col-md-12
col-lg-offset-0 col-lg-12
"
style="padding-left: 5px; padding-right: 5px"
> {{! fake container}}
  {{! overflow:hidden Since we remove the overflow:hidden on the carousel, and have to hide it at some layer to prevent the whole page becoming super wide. }}

  <div {{! column }}
    class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-6 col-md-5 col-lg-4"
    {{#ifEmbedded}}
    {{#ifIos}}
    style="max-width:300px" {{! prevent carousel from resizing window when we're in an iframe on iOS (320 - (10*2)) to leave room for margins}}
    {{/ifIos}}
    {{/ifEmbedded}}
    > 

    <div class="tabbable"
    > {{! Only required for left/right tabs }}

      {{view conversationTabs}}


      <div id="vis_sibling_above_tab_content"></div>

      <div class="tab-content">
        <div class="tab-pane" id="analyze" style="
        {{!-- background-color: white; --}}
        {{!-- border-style: solid;  border-top: 1px solid lightgrey; border-left: 1px solid lightgrey; --}}
        {{!-- border-right: 3px solid lightgrey ; --}}
        {{!-- border-bottom: 3px solid lightgrey; --}}
        {{!-- border-radius: 7px; --}}
        ">
          {{!-- {{view conversationStatsHeader}} --}}
          {{! BEGIN PILLS }}
          {{!-- <div class="tabbable"> --}}
            {{! #if hasMetadata
            <ul class="nav nav-pills nav-justified hidden-xs">
              <li class="active small"><a href="#query_results_hiddenxs" id="query_results_pill" data-toggle="tab">Comments</a></li>
              <li><a href="#metadata_eyes" id="metadata_pill" data-toggle="tab" class="small">Participant Info</a></li>
            </ul>
            }}
           {{!--  <div class="tab-content" style="">
              <div class="tab-pane active" id="query_results_hiddenxs">
                 --}}
                {{view analyzeGlobalView}}
{{!-- 
                <div class="query_results_div" class="hidden-xs">
                </div>  --}}
              {{!-- </div>
              <div class="tab-pane" id="metadata_eyes">
                <div class="alert alert-info alert-dismissable" style="margin-top: 20px">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <p> All participants are shown by default. Clicking on an answer below will cause participants who chose that answer to fade out. This makes it easier to identify patterns of agreement and disagreement in those participants who remain. </p>
                </div>
                {{view metadataQuestionsView}}
              </div>
            </div> --}}
         {{!--  </div> --}} {{! END PILLS }}
        </div> {{! analyze tab pane }}

        <div class="tab-pane polis-tab-pane" id="group">
          {{view analyzeGroupView}}
        </div> {{! analyze tab pane }}

        <div class="tab-pane polis-tab-pane" id="legend">
          {{view legendView}}
        </div>


        <div
          class="tab-pane active"
          id="commentView"
          >
          {{view readReactView}}
        </div>
        <div
          class="tab-pane write-pane"
          id="commentForm"
          >
          {{view commentForm}}
        </div>
      </div> {{! /tab content }}
    </div> {{! /tabbable }}
  </div> {{! /column }}


  <span id="right_panel" class="col-xs-12 col-sm-6 col-md-7 col-lg-8 unselectable">

  <div class="writingTipsParent">
    {{ view writingTips }}
  </div>

 <div id="tutorialSlides" style="display:none" class="unselectable">
   {{view tutorialSlidesView}}
 </div>
  <div id="vis_sibling_bottom"
    {{#ifEmbedded}}
    {{#ifIos}}
    style="max-width:300px" {{! when we're in an iframe on iOS (320 - (10*2)) to leave room for margins }}
    {{/ifIos}}
    {{/ifEmbedded}}
    >

    <div id="voteMoreParent" style="display:none">
      {{ view voteMoreView }}
    </div>
    <div style="text-align: right">
{{!--       <div id="opinion_groups_label" class="HeadingB pull-left" style="text-transform:none; cursor: default; display: none; color: #555">
        <img src="https://pol.is/polis-favicon_favicon.png" height="20px" id="opinion_groups_logo">
        Opinion Groups
      </div> --}}
      <span style="float: right; cursor: pointer; display: none">
        {{!-- <button id="resetTutorial" class="Btn Btn-alt Btn-small">Tutorial</button> --}}
      </span>


      <div class=" HeadingG" style="text-align: center; " >


      {{!-- The blue dot is you --}}
      {{!-- Grey dots are other participants --}}
      {{!-- Voted similarly --}}
      {{!-- Voted differently --}}


        <button id="nextTutorialStepButton" class="btn Btn-alt pull-right" style="margin-bottom: 10px;border: 3px #CDE6FF solid;background-color: #3694E1;color: white; display:none">Next tutorial step &nbsp; <i class="fa fa-step-forward"></i></button>
      </div>

    <div id="visualization_parent_div" style="text-align: right; visibility: hidden">
      {{#unless tutorialView}}
        <table style="width: 100%" class="HeadingG">
          <tr>
            <td>
{{!--               <span id="opinion_groups_label" class="HeadingB" style="text-transform:none; cursor: default; white-space: nowrap; color: #555">
                <img src="https://pol.is/polis-favicon_favicon.png" height="20px" id="opinion_groups_logo">
                Opinion Groups
              </span> --}}
            </td>
            <td style="width:100%; text-align: right; cursor: pointer;">
           {{!--    <button id="resetVisBlockerTutorial" class="Btn Btn-alt Btn-small"> 
                Tutorial
              </button> --}}
            </td>
          </tr>
        </table>
      {{/unless}}
      {{ view tutorialView }}
      {{!-- <div class="participationCount HeadingF visible-xs"></div> --}}
      <div id="visualization_div" class="vis_container" style="display:none"></div>
      {{!-- <div class="participationCount HeadingF hidden-xs"></div> --}}

      {{!-- <div class="participationCount HeadingF pull-right"></div> --}}

    </div> {{! /visualization_parent_div }}
  </div> {{! /vis_sibling_bottom }}
    
  </span> {{! /right_panel }}

</div> {{! /fake container}}
</div> {{! /row }}

</section> {{! /container }}
</div>

<div id="footer-conversation-view">
  <div class="text-center">
    Powered by
    <a href="http://pol.is" {{#ifEmbedded}}target="_blank"{{/ifEmbedded}} style='font-family:"brandon-grotesque", "Brandon Grotesque", "Futura", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif'>
      <img src="https://pol.is/polis-favicon_favicon.png" height="16px" id="opinion_groups_logo">polis
    </a>&nbsp;&middot;&nbsp;
    <a href="http://pol.is/tos" {{#ifEmbedded}}target="_blank"{{/ifEmbedded}}>TOS</a>&nbsp;&middot;&nbsp;
    <a href="http://pol.is/privacy" {{#ifEmbedded}}target="_blank"{{/ifEmbedded}}>PRIVACY</a>
    <div class="hidden-xs" style="display: inline;">&nbsp; &middot; &nbsp; &copy; 2015 Polis Technology Inc.</div>
    {{!-- <div class="visible-xs">&nbsp;&middot;&nbsp; &copy; 2015 Polis Technology Inc.</div> --}}
  </div>
</div>
