<div class="wrap {{#if use_background_content_class}}background_content{{/if}}">
  
{{#ifNotEmbedded}}
{{> header}}
{{/ifNotEmbedded}}
{{#ifTrial}}
  {{#if is_owner}}
    {{> banner}}
  {{else}}
    {{#if pp}}
    {{> banner_pp}}
    {{/if}}
  {{/if}}
{{/ifTrial}}

<section class="custom_container_for_large_screens" style="margin-bottom: 0px;"> 

<div class="row ">
  <div class="
  col-xs-offset-0 col-xs-12
  col-sm-offset-0 col-xs-12
  col-md-offset-0 col-md-12
  col-lg-offset-0 col-lg-12
  "> {{! fake container}}
    <div class="col-sm-8 col-md-6 conversationViewHeadline" >
    {{!-- {{#ifNotEmbedded}} --}}
    {{#if is_owner}}
    <div style="padding: 10px 0px 20px 0px">
        <a href="share{{url_name}}" class="Btn Btn-alt" ><i class="fa fa-link"></i>&nbsp;SHARE</a>
        <a href="{{url_moderate}}" class="Btn Btn-alt" >MODERATE</a>
        {{#if is_active}}
          <a id="closeConversationButton" class="Btn Btn-alt" style="cursor:pointer">CLOSE</a>
        {{ else }}
          <a id="reopenConversationButton" class="Btn Btn-alt" style="cursor:pointer">REOPEN</a>
        {{/if}}
        <a id="getDataButton" class="Btn Btn-alt hidden-xs" style="cursor:pointer"><i class="fa fa-cloud-download "></i>&nbsp;DATA</a>
    </div>
    {{/if}}
    {{!-- {{/ifNotEmbedded}} --}}
      <h3 class="HeadingA" title="Conversation topic">{{topic}}
        {{#unless is_active}}
        <span class="no_you_vote" style="
         color: white;
         background-color: rgb(231, 76, 60);
         /* font-size: 0.7em; */
         /* padding: .2em; */
         font-size: 20px;
         padding: 0px 10px;
         border-radius: 3px;
         position: relative;
         top: -5px;
         left: 6px;
        ">closed</span>
      {{/unless}}
      </h3>
      <p style="border-left: 4px solid #2980b9; padding-left: 10px; font-family: chaparral-pro; word-wrap:break-word;" title="Conversation description"> {{description}} </p>
      {{#if link_url}}
      <p style="border-left: 4px solid #2980b9; padding-left: 10px; font-family: chaparral-pro; word-wrap:break-word;">{{linkExternal link_url link_url}}</p>
      {{/if}}

    </div>
  </div> {{! /fake container }}
</div> {{! /row }}

<div id="controlTabs" class="row"> {{! may get no-gutter class on xs }}
<div class="
col-xs-offset-0 col-xs-12
col-sm-offset-0 col-xs-12
col-md-offset-0 col-md-12
col-lg-offset-0 col-lg-12
"> {{! fake container}}
  {{! overflow:hidden Since we remove the overflow:hidden on the carousel, and have to hide it at some layer to prevent the whole page becoming super wide. }}

  <div {{! column }}
    class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-6 col-md-5 col-lg-4"
    {{#ifEmbedded}}
    {{#ifIos}}
    style="max-width:270px" {{! prevent carousel from resizing window when we're in an iframe on iOS (320 - (25*2)) to leave room for margins}}
    {{/ifIos}}
    {{/ifEmbedded}}
    > 

    <div class="tabbable"
    > {{! Only required for left/right tabs }}

      {{view conversationTabs}}


      <div class="tab-content">
        <div class="tab-pane" id="analyze" style="
        background-color: white;
        border-style: solid;  border-top: 1px solid lightgrey; border-left: 1px solid lightgrey;
        border-right: 3px solid lightgrey ;
        border-bottom: 3px solid lightgrey;
        border-radius: 7px;
        ">
          {{view conversationStatsHeader}}
          {{! BEGIN PILLS }}
          <div class="tabbable">
            {{! #if hasMetadata
            <ul class="nav nav-pills nav-justified hidden-xs">
              <li class="active small"><a href="#query_results_hiddenxs" id="query_results_pill" data-toggle="tab">Comments</a></li>
              <li><a href="#metadata_eyes" id="metadata_pill" data-toggle="tab" class="small">Participant Info</a></li>
            </ul>
            }}
            <div class="tab-content" style="">
              <div class="tab-pane active" id="query_results_hiddenxs">
                {{view analyzeGlobalView}}
                <div class="query_results_div" class="hidden-xs">
                </div> {{! query results div }}
              </div>
              <div class="tab-pane" id="metadata_eyes">
                <div class="alert alert-info alert-dismissable" style="margin-top: 20px">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <p> All participants are shown by default. Clicking on an answer below will cause participants who chose that answer to fade out. This makes it easier to identify patterns of agreement and disagreement in those participants who remain. </p>
                </div>
                {{view metadataQuestionsView}}
              </div>
            </div>
          </div> {{! END PILLS }}
        </div> {{! analyze tab pane }}

        <div class="tab-pane polis-tab-pane" id="group">
          {{view analyzeGroupView}}
        </div> {{! analyze tab pane }}

        <div class="tab-pane polis-tab-pane" id="legend">
          {{view legendView}}
        </div>


        <div
          class="tab-pane active"
          id="commentView"
          >
          {{view commentView}}
        </div>
        <div
          class="tab-pane write-pane"
          id="commentForm"
          >
          {{view commentForm}}
        </div>
      </div> {{! /tab content }}
    </div> {{! /tabbable }}
  </div> {{! /column }}


  <span id="vis_sibling_bottom" class="col-xs-12 col-sm-6 col-md-7 col-lg-8"
    {{#ifEmbedded}}
    {{#ifIos}}
    style="max-width:270px" {{! when we're in an iframe on iOS (320 - (25*2)) to leave room for margins }}
    {{/ifIos}}
    {{/ifEmbedded}}
    >
    <div id="visualization_parent_div" style="text-align: right">
      <div id="opinion_groups_label" class="HeadingB pull-left" style="text-transform:none; cursor: default; display: none">
        <img src="https://pol.is/polis-favicon_favicon.png" height="20px" id="opinion_groups_logo">
        Opinion Groups
      </div>

<div class=" HeadingG" style="text-align: center; " >


{{!-- The blue dot is you --}}
{{!-- Grey dots are other participants --}}
{{!-- Voted similarly --}}
{{!-- Voted differently --}}


<button id="nextTutorialStepButton" class="btn Btn-alt pull-right" style="margin-bottom: 10px;border: 3px #CDE6FF solid;background-color: #3694E1;color: white; display:none">Next tutorial step &nbsp; <i class="fa fa-step-forward"></i></button>
</div>

      <div class="participationCount HeadingF visible-xs"></div>
      <div id="visualization_div" class="vis_container">
      </div>
      <div class="participationCount HeadingF hidden-xs"></div>
    </div>
  </span>



    <div
      id="write_hints_div"

      style="
        display:none;
        border-left: 3px solid #3498db;

      "
      class="
        col-xs-10 
        col-sm-6
        col-md-offset-1
        col-md-6
        col-lg-7
        hidden-xs
      ">

      <h3 class="HeadingB " style="margin-bottom: 20px"> Writing Comments </h3>

      <h5 class="HeadingH HeadingH--dark"> Tips for writing great comments </h5> 

      <ul class="write-hint-pane"> 
        <li style="margin-left: -23px" class="write-hint-pane"> Your comment will be sent out randomly. You are not replying directly to anyone else in the conversation.</li>
        <li style="margin-left: -23px" class="write-hint-pane"> The shorter the better: each comment should include only a single idea or opinion.</li>
        <li style="margin-left: -23px" class="write-hint-pane"> Phrase questions as statements. Not: "What about x & y?", rather: "We need more information about x & y." This allows other participants to agree that the question is important, rather than pass.</li>
        <li style="margin-left: -23px" class="write-hint-pane"> Articulate, well-informed & relevant comments fare best. </li> 
      </ul> 

      <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px"> When and where will my comment be displayed? </h5> 

      <p class="write-hint-pane"> Your comment may or may not be moderated. Comments may appear to immediately to other participants, or there may be a delay, pending moderator approval. Approved comments will appear, at random, to other participants in this conversation only. </p>

      <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px">Will my words be edited? </h5>
      <p class="write-hint-pane"> No. Comments are either approved or rejected during moderation, but cannot be edited. </p> 

      <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px"> Can I remove a comment I've written? </h5> 

      <p class="write-hint-pane"> Once a comment is submitted, it cannot be withdrawn. </p>

      <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px">Will others know who I am?</h5>
      <p class="write-hint-pane"> Anonymity varies in pol.is from conversation to conversation. Commenting is anonymous, unless you reveal anything that can be used to deanonymize you. Your voting patterns can also be used to deanonymize you in certain circumstances, given the content of other comments. For more information, please see our <a href="/privacy" class="write-hint-pane">Privacy Policy</a>.</p>


    </div>

</div> {{! /fake container}}
</div> {{! /row }}

</section> {{! /container }}
</div>

<div id="footer-conversation-view">
  <div class="text-center footer-conversation-view-item">
    Powered by
    <a href="http://pol.is" {{#ifEmbedded}}target="_blank"{{/ifEmbedded}}>pol.is</a>&nbsp;&middot;&nbsp;
    <a href="http://pol.is/tos" {{#ifEmbedded}}target="_blank"{{/ifEmbedded}}>TOS</a>&nbsp;&middot;&nbsp;
    <a href="http://pol.is/privacy" {{#ifEmbedded}}target="_blank"{{/ifEmbedded}}>PRIVACY</a>
    <div class="hidden-xs" style="display: inline;">&nbsp; &middot; &nbsp; &copy; 2014 Polis Technology Inc.</div>
    {{!-- <div class="visible-xs">&nbsp;&middot;&nbsp; &copy; 2014 Polis Technology Inc.</div> --}}
  </div>
</div>
