{{!-- Copyright (C) 2012-present, Polis Technology Inc. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}

{{#ifNotEmbedded}}
<div>
</div>
{{/ifNotEmbedded}}


<span id="header_root"></span>

<div
  class="
  conversationViewRoot
  clickDeselectsHull
  {{#if use_background_content_class}}
  background_content
  {{/if}}
  "
  style="
    max-width: 768px; {{!-- check pixel ratio? --}}
    margin: auto; {{!-- use flexbox rather than auto, or add a container for this container? --}}
    background-color: {{polis_bgcolor}};
  "> {{! PARTICIPATION VIEW DIV }}

  {{#if useBannerHeader}}
    {{> headerWhatIsPolis}}
  {{/if}}
<div
  class="clickDoesNotDeselectHull"
  style="display: none"
>
  {{view conversationTabs}}
  </div>

{{!  ------------ BEGIN TOPIC AND DESCRIPTION ---------------  }}

<div class="
  clickDeselectsHull
  "
  style="
    padding-left: 0px;
    padding-right: 0px
    ">
    <div class="POLIS_HEADLINE conversationViewHeadline">
    {{#unless useBannerHeader}}
      {{#if showLogoAndBreadCrumbInHeader}}
          <div class="HeadingA">
            <a href="pol.is">
              <img
                width="164px"
                src="https://pol.is/polis_logo_2.png"
                alt=""
                >
            </a>
            <a
              style="
                vertical-align: middle;
                font-size: 18px;"
              href="/s/{{context}}"
              >
            /s/{{context}}
            </a>
          </div>
      {{else}}
        {{#if showLogoInHeader}}
          <div class="HeadingA">
            <img
              width="164px"
              src="https://pol.is/polis_logo_2.png"
              alt=""
              >
          </div>
        {{/if}}
      {{/if}}
    {{/unless}}

    {{#if show_admin_button}}
    <div style="padding: 10px 0px 20px 0px">
{{!--       <a
        href="share{{url_name}}"
        class="Btn Btn-alt"
        style="margin-right: 20px
        ">
        <i class="fa fa-link">
        </i>
        &nbsp;SHARE
      </a> --}}
      <a
        href="{{url_moderate}}"
        class="Btn Btn-alt"
        style="margin-right: 20px
        ">
        ADMIN
      </a>
{{!--       {{#if is_active}}
        <a
          id="closeConversationButton"
          class="Btn Btn-alt"
          style="cursor:pointer; margin-right: 20px; text-decoration: none;"

          >
          CLOSE
        </a>
      {{ else }}
        <a
          id="reopenConversationButton"
          class="Btn Btn-alt"
          style="cursor:pointer; margin-right: 20px"
          >
          REOPEN
          </a>
      {{/if}}
      {{#if no_vis}}
        <a
          href="{{url_force_vis}}"
          class="Btn Btn-alt"
          style="margin-right: 20px"
          >
          SEE VIS
          </a>
      {{/if}} --}}

    </div>
    {{/if}}
    {{!-- {{/ifNotEmbedded}} --}}

    {{!--
    <div style="margin: 10px 0px" class="{{#if hideSocialButtons}}displayNone{{/if}}">
      <button class="facebookShareButton userWillShareOnFacebook">
        <i class="svgIcon" style="
          display: inline-block;
          position: relative;
          margin-right: 2px;
          top: 1px;
          width: 16px;
          fill: white;
        ">{{> iconFaFacebookSquare16}}</i>
        <span style="
          top: -2px;
          position: relative;
        ">Share</span>
      </button>
      {{#if fbShareCount}}
        <span class="arrow_box">{{fbShareCount}}</span>
      {{/if}}

      <button class="twitterShareButton userWillShareOnTwitter">
        <i class="svgIcon" style="
          display: inline-block;
          position: relative;
          margin-right: 2px;
          top: 1px;
          width: 16px;
          fill: white;
        ">{{> iconFaTwitter16}}</i>
        <span style="
          top: -2px;
          position: relative;
        ">Tweet</span>
      </button>
      {{#if twitterShareCount}}
        <span class="arrow_box">{{twitterShareCount}}</span>
      {{/if}}
    </div>
    --}}

    {{#unless no_topic}}
    {{#ifDefined topic}}
      <h3
        class="HeadingA"
        title="Conversation topic"
        style="
         margin-bottom: 10px;
        ">
        {{topic}}
        {{#unless is_active}}
        <span class="no_you_vote" style="
         color: white;
         background-color: rgb(231, 76, 60);
         /* font-size: 0.7em; */
         /* padding: .2em; */
         font-size: 20px;
         padding: 0px 10px;
         border-radius: 3px;
         position: relative;
         top: -5px;
         left: 6px;
        ">closed</span>
      {{/unless}}
      </h3>
    {{/ifDefined}}
    {{/unless}}

    {{#unless no_description}}
    {{#ifDefined description}}
        <p
          title="Conversation description"
          style="
            border-left: 4px solid #2980b9;
            padding-left: 10px;
            font-family: chaparral-pro;
            word-wrap:break-word;
          ">
          {{{description}}}
        </p>
    {{/ifDefined}}
    {{/unless}}

    {{#if link_url}}
        <p
          style="
            border-left: 4px solid #2980b9;
            padding-left: 10px;
            font-family: chaparral-pro;
            word-wrap:break-word;
          ">
        {{linkExternal link_url link_url}}
        </p>
    {{/if}}
    </div>
  </div> {{! /fake container }}

{{!  ------------ BEGIN MAIN CONTENT ---------------  }}

{{!  ------------ HELP TEXT ---------------  }}

<div
  id="helpTextWelcome"
  style="
    {{!-- background-color: {{help_bgcolor}}; --}}
    {{!-- border: 1px solid rgb(85, 172, 238); --}}
    {{!-- color: rgb(68, 136, 189); --}}
    {{!-- color: {{help_color}}; --}}
    color: black;
    padding: 5px 0px 5px 0px;
    font-style: italic;
    font-family: chaparral-pro;
  " class="
  clickDoesNotDeselectHull
  {{#if hideHelp}} displayNone{{/if}}
  {{#if no_voting}} displayNone{{/if}} {{!-- this line is here because the help text references voting --}}
  ">
  <p
    style="margin: 0px;"
    >
    <span>
      {{!-- TODO_SECURITY try to not use triple brackets. --}}
      {{{s.participantHelpWelcomeText}}}
    </span>

  </p>
</div>

{{!  ------------ SUBMIT COMMENT FORM ---------------  }}
<span id="commentFormBSibling" style="display:none"></span>


{{!  ------------ VOTING PANEL ---------------  }}
<span class="{{#if no_voting}}displayNone{{/if}}">
  {{view readReactView}}
</span>

{{#if auth_prompt_any_social}}
{{#unless hasFbAndTw}}
<div
  id="socialButtonsUnderReadReact"
  class=""
  style="
    margin-left: 8px;
    margin-bottom: 20px;
    display: none; {{! waiting to be shown }}
  ">
  <p style="font-size: 14px;">
    {{s.socialConnectPrompt}}
  </p>
  <div>
    {{#if auth_opt_fb_computed}}
    {{#unless hasFacebook}}
      <button class="facebookButton" id="facebookButtonPtpt">
        <span class="socialButtonText">
          <i class="svgIcon" style="
            display: inline-block;
            position: relative;
            margin-right: 2px;
            top: 6px;
            width: 25px;
            fill: white;
          ">{{> iconFaFacebookSquare25}}</i>
          {{s.connectFbButton}}
        </span>
      </button>
    {{/unless}}
    {{/if}}

    {{#if auth_opt_tw_computed}}
    {{#unless hasTwitter}}
      <button class="twitterButton" id="twitterButtonPtpt">
      <span class="socialButtonText">
        <i class="svgIcon" style="
          display: inline-block;
          position: relative;
          margin-right: 2px;
          top: 8px;
          width: 25px;
          fill: white;
        ">{{> iconFaTwitter25}}</i>
        {{s.connectTwButton}}
      </span>
      </button>
    {{/unless}}
    {{/if}}
  </div>
</div>
{{/unless}}  {{!-- hasFbAndTw --}}
{{/if}}  {{!-- auth_prompt_any_social --}}



<span class="{{#if no_vis}}displayNone{{/if}}"> {{!-- no_vis toggle wrapper --}}

  <div class="HeadingC" style="text-transform:none; cursor: default; white-space: nowrap; border-bottom: none;">
  {{!-- <img src="https://pol.is/polis-favicon_favicon.png" height="20px" id="opinion_groups_logo"> --}}
  {{s.opinionGroups}}
</div>

<div
  id="helpTextGroups"
  style="
    {{!-- background-color: {{help_bgcolor}}; --}}
    {{!-- border: 1px solid rgb(85, 172, 238); --}}
    {{!-- color: rgb(68, 136, 189); --}}
{{!--    color: {{help_color}};
    padding: 15px 30px 15px 15px;
    width: 99%;
    margin: 0px auto 10px auto;
    border-radius: 4px;
    position: relative; --}}

    color: gray;
    padding: 5px 0px 5px 0px;
    font-style: italic;
    font-family: chaparral-pro;

  " class="
    clickDoesNotDeselectHull
    {{#if hideHelp}}displayNone{{/if}}
  ">
  <p
    style="margin: 0px; margin-bottom: 10px;"
    >
    <span class="displayNone" id="vis_help_label">
      {{!-- TODO_SECURITY try to not use triple brackets. --}}
      {{{s.participantHelpGroupsText}}}
    </span>
    <span class="displayNone" id="vis_not_yet_label">
      {{!-- TODO_SECURITY try to not use triple brackets. --}}
      {{{s.participantHelpGroupsNotYetText}}}
    </span>
  </p>
  <div id="helpTextGroupsMore" style="display:none; margin-top: 10px">
    {{{s.helpWhatAreGroupsDetail}}}
  </div>
</div>


<div id="vis_section" class="displayNone">


<div style="margin-bottom: 15px;"> {{!-- vis and carousel --}}

<div id="vis_sibling_above_tab_content"></div>

<div
  id="visualization_parent_div"
  class="clickDoesNotDeselectHull"
  style="text-align: right; visibility: hidden; background-color: rgba(0,0,0,0);"
  >
  <div
    id="visualization_div"
    style="display:none"
    class="vis_container clickDoesNotDeselectHull"
    >
  </div>

  <div id="vis2_root"></div>

</div>
<div
  id="groupSelectionViewContainer"
  class="clickDoesNotDeselectHull"
  style="
    display: none;
    text-align: center;
    min-height: 34px;
    margin: 0px;
    padding: 10px 0px 10px 0px;
  ">
  {{view groupSelectionView}}
</div>

</div> {{!-- end lightPanel --}}
</div> {{!-- end vis_section --}}

</span> {{!-- end no_vis toggle wrapper --}}


{{!  ------------ SUBMIT COMMENT FORM ---------------  }}
<div
  id="commentFormParent"
  class="POLIS_COMMENT_FORM {{#if no_write}}displayNone{{/if}}"
  >
  {{view commentForm}}
</div>


{{!  ------------ BEGIN FOOTER ---------------  }}
{{#unless no_footer}}

  <div style="margin-top: 40px; margin-bottom: 20px;">
    <a href="https://pol.is" target="_blank">
      {{> logo}}
    </a>
    <div
      style="
        margin-top: 15px;
        text-align: center;
      "
      >
        {{> linkPrivacy}}
        {{> linkTos}}
    </div>
  </div>

  {{!-- <div style="font-size:18px;font-weight:400;color:white;background-color:#03a9f4;display:flex;-webkit-flex-direction:row;-webkit-flex-wrap:nowrap;-webkit-justify-content:space-between;-webkit-align-items:baseline;-webkit-align-content:stretch;-webkit-order:0;-webkit-flex-grow:0;-webkit-flex-shrink:1;-webkit-flex-basis:auto;-webkit-align-self:auto;" data-reactid=".0.0.$=1$=012.0">
    <p style="margin-left:20px;font-size:12px;" data-reactid=".0.0.$=1$=012.0.$=1$/=010">© Polis Technology Inc. 2016 </p>
    <div style="margin-right:20px;" data-reactid=".0.0.$=1$=012.0.$=1$/=011">
      <a style="text-decoration:none;cursor:pointer;color:white;font-size:12px;" href="/tos" data-reactid=".0.0.$=1$=012.0.$=1$/=011.$/=10">
        <span name="file-text-o" class="fa fa-file-text-o" data-reactid=".0.0.$=1$=012.0.$=1$/=011.$/=10.$=10"></span>
        <span style="margin-left:5px;" data-reactid=".0.0.$=1$=012.0.$=1$/=011.$/=10.$/=11"> TOS </span>
      </a>
      <a style="text-decoration:none;cursor:pointer;color:white;font-size:12px;" href="/privacy" data-reactid=".0.0.$=1$=012.0.$=1$/=011.$/=11">
        <span style="margin-left:5px;" data-reactid=".0.0.$=1$=012.0.$=1$/=011.$/=11.0"> PRIVACY </span>
      </a>
    </div>
  </div> --}}
{{/unless}}
  {{! END FOOTER}}
{{!  ------------ END FOOTER ---------------  }}

</div> {{! END PARTICIPATION VIEW DIV }}
