<div
  class="
  conversationViewRoot
  darkPanel
  clickDeselectsHull
  {{#if use_background_content_class}}
  background_content
  {{/if}}
  "
  style="
    max-width: 768px; {{!-- check pixel ratio? --}}
    margin: auto; {{!-- use flexbox rather than auto, or add a container for this container? --}}
  "> {{! PARTICIPATION VIEW DIV }}

  {{#if useBannerHeader}}
    {{> headerWhatIsPolis}}
  {{/if}}

<div
  class="clickDoesNotDeselectHull"
  style="display: none"
>
  {{view conversationTabs}}
  </div>

{{!  ------------ BEGIN TOPIC AND DESCRIPTION ---------------  }}

<div class="
  clickDeselectsHull
  "
  style="
    padding-left: 0px;
    padding-right: 0px
    ">
    <div class="conversationViewHeadline">
    {{#unless useBannerHeader}}
      {{#if showLogoAndBreadCrumbInHeader}}
          <div class="HeadingA">
            <a href="pol.is">
              <img
                width="164px"
                src="https://pol.is/polis_logo_2.png"
                alt=""
                >
            </a>
            <a
              style="
                vertical-align: middle;
                font-size: 18px;"
              href="/s/{{context}}"
              >
            /s/{{context}}
            </a>
          </div>
      {{else}}
        {{#if showLogoInHeader}}
          <div class="HeadingA">
            <img
              width="164px"
              src="https://pol.is/polis_logo_2.png"
              alt=""
              >
          </div>
        {{/if}}
      {{/if}}
    {{/unless}}

    {{#if is_owner}}
    <div style="padding: 10px 0px 20px 0px">
      <a
        href="share{{url_name}}"
        class="Btn Btn-alt"
        style="margin-right: 20px
        ">
        <i class="fa fa-link">
        </i>
        &nbsp;SHARE
      </a>
      <a
        href="{{url_moderate}}"
        class="Btn Btn-alt"
        style="margin-right: 20px
        ">
        ADMIN
      </a>
      {{#if is_active}}
        <a
          id="closeConversationButton"
          class="Btn Btn-alt"
          style="cursor:pointer; margin-right: 20px; text-decoration: none;"

          >
          CLOSE
        </a>
      {{ else }}
        <a
          id="reopenConversationButton"
          class="Btn Btn-alt"
          style="cursor:pointer; margin-right: 20px"
          >
          REOPEN
          </a>
      {{/if}}
      {{#if no_vis}}
        <a
          href="{{url_force_vis}}"
          class="Btn Btn-alt"
          style="margin-right: 20px"
          >
          SEE VIS
          </a>
      {{/if}}

    </div>
    {{/if}}
    {{!-- {{/ifNotEmbedded}} --}}

    <div style="margin: 10px 0px">
      <button class="facebookShareButton userWillShareOnFacebook">
        <i class="fa fa-facebook-square"></i>
        &nbsp;Share
      </button>
      {{#if fbShareCount}}
        <span class="arrow_box">{{fbShareCount}}</span>
      {{/if}}

      <button class="twitterShareButton userWillShareOnTwitter">
        <i class="fa fa-twitter"></i>
        &nbsp;Tweet
      </button>
      {{#if twitterShareCount}}
        <span class="arrow_box">{{twitterShareCount}}</span>
      {{/if}}
    </div>

    {{#ifDefined topic}}
      <h3
        class="HeadingA"
        title="Conversation topic">
        {{topic}}
        {{#unless is_active}}
        <span class="no_you_vote" style="
         color: white;
         background-color: rgb(231, 76, 60);
         /* font-size: 0.7em; */
         /* padding: .2em; */
         font-size: 20px;
         padding: 0px 10px;
         border-radius: 3px;
         position: relative;
         top: -5px;
         left: 6px;
        ">closed</span>
      {{/unless}}
      </h3>
      {{/ifDefined}}
      {{#ifDefined description}}
        <p
          title="Conversation description"
          style="
            border-left: 4px solid #2980b9;
            padding-left: 10px;
            font-family: chaparral-pro;
            word-wrap:break-word;
          ">
          {{{description}}}
        </p>
      {{/ifDefined}}
      {{#if link_url}}
        <p
          style="
            border-left: 4px solid #2980b9;
            padding-left: 10px;
            font-family: chaparral-pro;
            word-wrap:break-word;
          ">
        {{linkExternal link_url link_url}}
        </p>
      {{/if}}
    </div>
  </div> {{! /fake container }}

{{!  ------------ BEGIN MAIN CONTENT ---------------  }}

{{!  ------------ HELP TEXT ---------------  }}

<div
  id="helpTextWelcome"
  style="
    background-color: #CAEAFF;
    {{!-- border: 1px solid rgb(85, 172, 238); --}}
    {{!-- color: rgb(68, 136, 189); --}}
    color: #3498DB;
    padding: 15px 30px 15px 15px;
    width: 100%;
    margin: 10px auto;
    border-radius: 4px;
    position: relative;
  ">
{{!--   <p class="flexbox justify-content-space-between align-items-center">
    <span style="font-size: 24px;">
      Welcome! This is a new kind of online discussion.
    </span>
    <i
      style="

      "
      class="fa fa-times cursorPointer">
    </i>
  </p> --}}
  <p
    style="margin: 0px;"
    >
    <span>
      {{!-- TODO_SECURITY try to not use triple brackets. --}}
      {{{s.participantHelpWelcomeText}}}
    </span>
    <i
      style="position: absolute; top: 8px; right: 8px;"
      class="fa fa-times cursorPointer">
    </i>
  </p>
{{!--   <p>What do I do?</p>
  <ul>
    <li><strong>Vote</strong> on other people's comments by clicking 'agree' or 'disagree'.</li>
    <li>If your perspective isn't represented, <strong>Write</strong> a comment.</li>
    <li><strong>Invite</strong> your friends to the discussion!</li>
  </ul>
  <p>What am I seeing?</p>
  <ul>
    <li>People who vote similarly are grouped.</li>
    <li>Click a group to see which viewpoints they share.</li>
  </ul> --}}
</div>

{{!  ------------ SUBMIT COMMENT FORM ---------------  }}
<span id="commentFormBSibling" style="display:none"></span>


{{!  ------------ VOTING PANEL ---------------  }}
{{view readReactView}}

{{#unless hasFbAndTw}}
<div
  id="socialButtonsUnderReadReact"
  class=""
  style="
    margin-left: 8px;
    margin-bottom: 20px;
    display: none; {{! waiting to be shown }}
  ">
  <p style="font-size: 14px;">
    {{s.socialConnectPrompt}}
  </p>
  <div>
    {{#unless hasFacebook}}
      <button class="facebookButton">
        <span class="socialButtonText">
          <i class="fa fa-facebook-square"></i>&nbsp; {{s.connectFbButton}}
        </span>
      </button>
    {{/unless}}

    {{#unless hasTwitter}}
      <button class="twitterButton">
      <span class="socialButtonText">
        <i class="fa fa-twitter" style="color: white"></i>&nbsp; {{s.connectTwButton}}
      </span>
      </button>
    {{/unless}}
  </div>
</div>
{{/unless}}  {{!-- hasFbAndTw --}}

<div
  id="helpTextGroups"
  style="
    background-color: #CAEAFF;
    {{!-- border: 1px solid rgb(85, 172, 238); --}}
    {{!-- color: rgb(68, 136, 189); --}}
    color: #3498DB;
    padding: 15px 30px 15px 15px;
    width: 100%;
    margin: 10px auto;
    border-radius: 4px;
    position: relative;
  ">
  <p
    style="margin: 0px;"
    >
    <span>
      {{!-- TODO_SECURITY try to not use triple brackets. --}}      
      {{{s.participantHelpGroupsText}}}
    </span>
    <i
      style="position: absolute; top: 8px; right: 8px;"
      class="fa fa-times cursorPointer">
    </i>
  </p>
</div>

<div id="vis_sibling_above_tab_content"></div>

<div
  id="visualization_parent_div"
  class="lightPanel clickDoesNotDeselectHull"
  style="text-align: right; visibility: hidden"
  >
  <div
    id="visualization_div"
    class="vis_container clickDoesNotDeselectHull"
    >
  </div>
</div>
<div
  class="darkPanel clickDoesNotDeselectHull"
  style="text-align: center"
  >
  {{view groupSelectionView}}
</div>

<div id="carouselPane" class="tabbable darkPanel clickDoesNotDeselectHull unselectable"
  style="
    margin: 0px 0px 10px 0px;
  "> {{! Only required for left/right tabs }}
  <div
    class="tab-content"
{{!--     style="min-height: 200px"
 --}}    >
    <div
      class="tab-pane"
      id="legend"
      >
      {{view legendView}}
    </div>
    <div
      class="tab-pane lightPanel"
      style="overflow: hidden"
      id="analyze"
      >
      {{view analyzeGlobalView}}
    </div> {{! analyze tab pane }}
    <div
      class="tab-pane lightPanel"
      style="overflow: hidden"
      id="group"
      >
      {{view analyzeGroupView}}
    </div> {{! analyze tab pane }}
{{!--     <div
      class="tab-pane lightPanel"
      id="infoSlidePane"
      >
      {{view conversationInfoSlideView}}
    </div> --}}
  </div> {{! /tab content }}
</div> {{! /tabbable }}


{{!  ------------ SUBMIT COMMENT FORM ---------------  }}
<span id="commentFormParent">
  {{view commentForm}}
</span>



{{!  ------------ BEGIN FOOTER ---------------  }}

  <div class="darkPanel"> {{! BEGIN FOOTER}}
    {{#if showLogoInFooter}}
    <div class="flexbox align-items-flex-end">
      <a
        href="{{logo_href}}"
        target="_blank"
        >
        <img
          width="100px"
          src="https://pol.is/polis_logo_2.png" {{! was 164px}}
          alt=""
          >
      </a>
      <div class="flex-grow-2">
      </div>
      {{> linkPrivacy}}
      {{> linkTos}}
    </div>
    {{/if}}
    <div class="flexbox align-items-flex-end">
      {{#if showLogoInFooter}}
        <div class="flex-grow-2">
        </div>
        {{> linkAddPolis}}
        <div class="flex-grow-2">
        </div>
      {{else}}
        {{> linkAddPolis}}
        <div class="flex-grow-2">
        </div>
        {{> linkPrivacy}}
        {{> linkTos}}
      {{/if}}
    </div>
  </div> {{! END FOOTER}}

{{!  ------------ END FOOTER ---------------  }}

</div> {{! END PARTICIPATION VIEW DIV }}
