<p>plans!</p>




</p>plan id: {{plan_id}}</p>

{{#if isPlanIndividuals}}
<p>
  Individual
  <a href="/plan/upgrade/sites">Sites</a>
  <a href="/plan/upgrade/orgs">Orgs</a>
  <a href="/plan/upgrade/mike">Mike</a>   
</p>
{{/if}}
{{#if isPlanPages}}
<p>
  <a href="/plan/upgrade/individuals">Individual</a>
  Sites
  <a href="/plan/upgrade/orgs">Orgs</a>  
  <a href="/plan/upgrade/mike">Mike</a> 
</p>
{{/if}}
{{#if isPlanOrg}}
<p>
  <a href="/plan/upgrade/individuals">Individual</a>
  <a href="/plan/upgrade/sites">Sites</a>
  <a href="/plan/upgrade/mike">Mike</a> 
  Orgs
</p>
{{/if}}
{{#if isPlanMike}}
<p>
  <a href="/plan/upgrade/individuals">Individual</a>
  <a href="/plan/upgrade/sites">Sites</a>
  <a href="/plan/upgrade/orgs">Orgs</a>
  Mike
</p>
{{/if}}

<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_live_OqP5AaF2RnMKNgCiltF6VT6x"
    data-image="https://pol.is/img/logo.png"
    data-name="Demo Site"
    data-email="{{email}}"
    data-description="{{plan_name}}"
    data-panel-label="Subscribe Monthly"
    data-amount="{{plan_amount}}">
  </script>
  <input type="hidden" name="plan" value="{{plan_id}}"></input>
</form>



