{{!-- Copyright (C) 2012-present, Polis Technology Inc. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}

<div
  id="readReactView"
  style="margin-bottom: -40px;"
  >


  {{!-- Empty "Card stack" div1 (notice css "top" and "width") --}}
 <div
    id="cardStack"
    style="
      position: relative;
      {{!-- min-height: 144px; attempt to avoid flashing on vote view load--}}
    ">
    <!-- <span style="visibility: hidden"> -->
    <span style="visibility: hidden">
      <div id="card_dummy" aria-hidden="true" style="position:relative" class="voteViewCardPos_constant lightPanel">{{view voteView_dummy}}</div>
      <div style="min-height:80px"></div>
    </span>

    <div id="card_w" aria-hidden="false" style="position:absolute; " class="animVoteCard voteViewCardPos_0 lightPanel"><span>{{view voteView_w}}</span></div>
    <div id="card_x" aria-hidden="true" style="position:absolute; " class="animVoteCard voteViewCardPos_1 lightPanel"><span>{{view voteView_x}}</span></div>
    <div id="card_y" aria-hidden="true" style="position:absolute; " class="animVoteCard voteViewCardPos_2 lightPanel"><span>{{view voteView_y}}</span></div>
    <div id="card_z" aria-hidden="true" style="position:absolute; " class="animVoteCard voteViewCardPos_3 lightPanel"><span>{{view voteView_z}}</span></div>

  </div>

  {{!-- Empty "Card stack" div1 (notice css "top" and "width") --}}
	<!-- <div
		style="
			min-height: 30px;
			position:relative;
			top: -26px;
			z-index: 2;
			margin: 0 auto;
			width: 99%;
		"
		class="lightPanel">
      {{view voteView1}}
	</div> -->

  {{!-- Empty "Card stack" div2 (notice css "top" and "width") --}}
	<!-- <div
		style="
			min-height: 30px;
			position:relative;
			top: -52px;
			z-index: 1;
			margin: 0 auto;
			width: 98%;
		"
		class="lightPanel">
      {{view voteView2}}
	</div> -->

</div>
