<section class="container">
<div class="row">

<div class="
  col-xs-12
  col-sm-8 col-sm-offset-2
  col-md-offset-0
">

<h1 class="HeadingA">Settings</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title HeadingB">Embed {{#if hasMultipleSites}}codes{{else}}code{{/if}} for your {{#if hasMultipleSites}}sites{{else}}site{{/if}}</h3>
    </div>
    <div class="panel-body">

     {{!--  <div  style="margin: 20px;" class="Notification Notification--positive">
        <p class="HeadingF HeadingF--light "><i class="fa fa-bell-o"></i>&nbsp;<strong>Copy and paste this into the template for your site's pages (blog posts, news article, etc)</strong></p>
        <p>Note that you'll need to replace "$page_id_from_your_blog_etc" with a variable that describes each of your pages.
          You will probably be rendering your page server-side on your platform or CMS (Wordpress, Django, Ruby on Rails, etc). You'll need to set the value for the data-page_id attribute. If you are just trying Polis for the first time, you can just make something up, like "ih87erhiue".
         </p>
      </div> --}}
      <p class="HeadingF HeadingF--light "><i class="fa fa-bell-o"></i>&nbsp;<strong>Copy and paste this into the template for your site's pages (blog posts, news articles, etc)</strong></p>
      <p>When this embed code loads on your website, it will either create a new conversation (if one doesn't already exist) or load an existing conversation. It keeps track of what conversations belongs on what pages via the <span style="white-space: nowrap">data-page_id</span> HTML attribute. Simply replace "PAGE_ID", either manually or in your templates, to create new conversations and load existing ones in the right place.</p>
      <div class="panel-body">
        {{#each site_ids}}
          {{#if ../hasMultipleSites}}<p class="HeadingF HeadingF--light "><strong>Site: {{this}}</strong></p>{{/if}}
          <pre style="text-align:left; font-size:12px">&lt;div
  class=&quot;polis&quot;
  data-page_id=&quot;PAGE_ID&quot;
  data-site_id=&quot;{{this}}&quot;&gt;
&lt;/div&gt;
&lt;script async=&quot;true&quot; src=&quot;https://pol.is/embed.js&quot;&gt;&lt;/script&gt;</pre>
            <noscript>Please enable JavaScript to view comments powered by Polis.</noscript>
        {{/each}}
      </div>
      {{!-- <button id="addSite">Add another site</button> --}}
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title HeadingB">Name</h3>
    </div>
    <div class="panel-body">
      {{hname}}
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title HeadingB">Email</h3>
    </div>
    <div class="panel-body">
      {{email}}
    </div>
  </div>


  {{view settingsTwitter}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title HeadingB">Plan</h3>
    </div>
    <div class="panel-body">
      {{#ifTrial}}
        <div class="Notification Notification--warning" role="alert">
          <i class="fa fa-bell-o"></i>&nbsp;{{> trialRemainingStatement}}
        </div>
      {{/ifTrial}}


      <table class="table">
        <thead>
        <tr>
          <th class="HeadingF">Plan
          </th>
          <th class="HeadingF">Price
          </th>
          <th> {{! buttons column}}
          </th>
        </tr>
        </thead>
        <tr>
          <td>Individual</td>
          <td>$100/month</td>
          <td>
            {{#ifTrial}}<form action="/api/v3/charge" method="POST" id="stripeForm"></form>
             {{/ifTrial}}
            {{#ifIndividual}}Your plan{{/ifIndividual}}
          </td>
        </tr>
        {{!-- <tr>
          <td>Teacher</td>
          <td>Free (students will pay $3/month)</td>
          <td>
            {{#ifTrial}}<button id="participantsPayButton">Choose</button>
             {{/ifTrial}}
            {{#ifParticipantPays}}Your plan{{/ifParticipantPays}}
          </td>
        </tr>
        <tr>
          <td>Student</td>
          <td>$3/month</td>
          <td>
            {{#ifTrial}}<form action="/api/v3/charge" method="POST" id="stripeFormStudents"></form>
             {{/ifTrial}}
            {{#ifStudent}}Your plan{{/ifStudent}}
          </td>
        </tr> --}}
        <tr>
          <td>Trial</td>
          <td>Free for 10 days</td>
          <td>
            {{#ifTrial}} Your plan {{/ifTrial}}
            {{#ifIndividual}} {{! should probably be a downgrade button }} {{/ifIndividual}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!--This script tag should really be in the head, but for now...-->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    var stripeKey = /localhost|preprod.pol.is/.test(document.domain) ? "pk_test_x6ETDQy1aCvKnaIJ2dyYFVVj" : "pk_live_zSFep14gq0gqnVkKVp6vI9eM";
    Stripe.setPublishableKey(stripeKey);
    // ...
  </script>


{{!
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Notification</h3>
    </div>
    <div class="panel-body">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="notify_me" name="notify_me" checked="checked"> Notify me of updates
        </label>
      </div>
    </div>
  </div>
}}


</div> {{! end column }}
</div> {{! end row }}
</section>
