{{#ifDefined suurls}}
<table style="margin-left: 100px">
<tr><td>
<table>
  <tr>
    <th>xid</th>
  </tr>
  {{#each suurls}}
  <tr>
    <td>{{this.xid}}</td>
  </tr>
  {{/each}}
</table>
</td>
<td>
<table style="margin-left: 100px">
  <tr>
    <th >single use URL</th>
  </tr>
  {{#each suurls}}
  <tr>
    <td class="selectable">{{this.url}}<br/></td>
  </tr>
  {{/each}}
</table>
</td>
</tr>
</table>
{{/ifDefined}}


{{#ifNotDefined suurls}}

<center style="width:100%; margin-top:50px;">
<a href="{{url_name}}" style="font-size: {{#ifXs}}20px{{/ifXs}}{{#ifNotXs}}40px{{/ifNotXs}}">
  {{url_name_with_hostname}}
</a>

<div class="unselectable">
  <h5 class="unselectable" style="margin-top: 30px; margin-bottom: 20px; text-transform: uppercase; font-weight: 700">  PUBLISHED! SHARE THIS LINK.
  </h5> 
  <p class="unselectable" style="max-width: 450px; margin-left:20px; margin-right:20px; font-weight: 100">
    Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or post it to your website or blog. Try it! Paste this link into your navigation bar to go to your conversation. You can also embed the conversation on your own site in place of a comment thread: 
  </p>
</div>

<pre>&lt;iframe src=&quot;{{url_name_with_hostname}}&quot;&gt;</pre>

</center>

{{!--         {{#if is_public}}
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{url_name_with_production_hostname}}" data-text="{{tweet_text}}" data-size="large" data-count="none" data-hashtags="polis" data-dnt="true">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {{/if}} --}}

{{/ifNotDefined}}