{{#ifDefined suurls}}
<table style="margin-left: 100px">
<tr><td>
<table>
  <tr>
    <th>xid</th>
  </tr>
  {{#each suurls}}
  <tr>
    <td>{{this.xid}}</td>
  </tr>
  {{/each}}
</table>
</td>
<td>
<table style="margin-left: 100px">
  <tr>
    <th >single use URL</th>
  </tr>
  {{#each suurls}}
  <tr>
    <td class="selectable">{{this.url}}<br/></td>
  </tr>
  {{/each}}
</table>
</td>
</tr>
</table>
{{/ifDefined}}


{{#ifNotDefined suurls}}
<section class="container">

  <div class="col-lg-offset-3 col-sm-6 col-md-6">

      <div style="margin-top:40px" class="alert alert-success">
        <h4 style="margin-top: 20px; margin-bottom: 20px; text-align: center;"> PUBLISHED! SHARE THIS LINK.</h4> 
        <p style="text-align: center"> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it to your website or blog. Try it! Paste this link into your navigation bar to go to your conversation. </p>

        <input style="
          text-align: center;
          cursor: pointer;
          margin-top: 20px;
          padding: 10px;
          width: 100%;
          background-color: white
          "
          type="text"
          value="{{url_name_with_hostname}}"
          name="convoLink"
          readonly=""
          id="shareLinkInput"
          >

        <p class="text-center" style="margin-top:9px;font-style:italic;font-size:13px"> This link has been sent to your email.</p>

        {{#if is_public}}
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{url_name_with_production_hostname}}" data-text="{{tweet_text}}" data-size="large" data-count="none" data-hashtags="polis" data-dnt="true">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {{/if}}
        
      </div>
          
    <!--<button style="margin-top: 20px" class="btn btn-large" id="okButton">Got it, take me to the conversation.</button> -->
  </div>

</section>
{{/ifNotDefined}}