
<div id="comment_shower">
    {{#if empty}}
      <div  style="margin: 20px;" class="Notification Notification--warning">
      {{#if subscribed}}
          <p class="HeadingF HeadingF--light "><i class="fa fa-bell-o"></i>&nbsp;<strong>{{txt1}}</strong></p>
          <p>{{txt2}}</p>
          <p>

            {{#ifNotIE8}}
              <i class="fa fa-check-square-o" style="font-size: 20px; color: #2ecc71; position: relative; top: 1px"></i>
            {{/ifNotIE8}}
            You are subscribed to updates for this conversation.
          </p>
      {{else}}
        <p class="HeadingF HeadingF--light "><i class="fa fa-bell-o"></i>&nbsp;<strong>You've voted on all the comments</strong></p>
        <form role="form" class="FormVertical">
        {{#if email}}
            <p>Get notified when more comments arrive:</p>
            <pre>{{email}}</pre>
        {{else}}
            <p>Enter your email address to get notified when more comments arrive:</p>
            <div class="FormVertical-group">
              <label class="FormLabel" for="gatekeeperEmailCreate">Email</label>
              <input type="text" name="email" id="gatekeeperEmailCreate" class="email FormControl" {{#if readonlyEmail}}readonly{{/if}}>
            </div>
        {{/if}}
          <div class="FormVertical-group">
            <span id="subscribeBtn" class="Btn Btn-primary">Subscribe</span>
          </div>
        </form>
      {{/if}}
      </div>
    {{else}}
    <!-- there is a comment to show -->
      <p style="padding: 20px 20px 20px 20px; min-height: 85px; margin-bottom: 0px; {{customStyles}}"> {{txt}} </p>
      <p style="padding: 0px 0px 7px 20px; font-size: 12px; margin-bottom: 0px;"><em>Comment submitted {{createdString}}</em></p>
    {{/if}}
</div>

<div
    class="reactionButtons"
  >
    {{#if empty}}
      {{!-- nothing --}}
    {{else}}
        <div class="btn-group btn-group-justified">
          <div
            class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
            id="agreeButton"
            role="button"
            type="button"
          >
          {{#ifNotIE8}}
            <i class="fa fa-caret-up" style="font-size: 20px; color: #2ecc71; position: relative; top: 1px"></i>
          {{/ifNotIE8}}
          &nbsp;<p class="btn-vote">AGREE</p> </div>

          <div
            id="disagreeButton"
            class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
            role="button"
            type="button"
          >
          {{#ifNotIE8}}
            <i class="fa fa-caret-down" style="font-size: 20px; color: #e74c3c; position: relative; top: 2px"></i>
          {{/ifNotIE8}}
          &nbsp;<p class="btn-vote">DISAGREE</p> </div>

          <div
            id="passButton"
            class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
            role="button"
            type="button"
          >
          {{#ifNotIE8}}
            <i class="fa fa-flag" style="font-size: 16px; color: #aaa"></i>
          {{/ifNotIE8}}
          /&nbsp;<p class="btn-vote">PASS</p> </div>
      </div>
    {{/if}}
</div>
